<div class="l-modal-dialog ui-modal-dialog" data-l-modal="discount" data-discount-modal="true">
    <div class="ui-modal l-modal l-discount-modal ui-discount-modal">
        <button class="ui-discount-modal-close-btn l-discount-modal-close-btn" type="button" data-l-modal-btn="discount">
            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.3398 1.64565L14.6942 0L8.16992 6.52426L1.64565 0L0 1.64565L6.52426 8.16992L0 14.6942L1.64565 16.3398L8.16992 9.81557L14.6942 16.3398L16.3398 14.6942L9.81557 8.16992L16.3398 1.64565Z" fill="#3D5A80" fill-opacity="0.5"/>
            </svg>
        </button>
        <picture>
            <!--[if IE 9]><video style="display: none;><![endif]-->
            <source data-srcset="/assets/img/demo/discount-900.webp" media="--medium" />
            <source data-srcset="/assets/img/demo/discount.webp" />
            <!--[if IE 9]></video><![endif]-->
            <img
                    class="l-responsive-img l-discount-modal-img lazyload"
                    width="415"
                    height="415"
                    data-expand="-20"
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-src="/assets/img/demo/discount.webp"
                    alt="Discount"
            />
        </picture>
        <div class="l-discount-modal-body ui-discount-modal-body">
            <h2 class="l-discount-modal-body-title ui-discount-modal-body-title">
                Get 5% Discount
            </h2>
            <p class="l-discount-modal-body-subtitle ui-discount-modal-body-subtitle">On your first order with this site</p>
            <input class="l-discount-modal-body-input ui-discount-modal-body-input" type="text" readonly value="JP5%" data-discount-text-copy="true" />
        </div>
    </div>
</div>