{{ form_start(edit_option_form, {'attr':{"data-toggle":"validator",'novalidate':'novalidate', "id": "edit-sub-attibutes"} }) }}
<div class="col-md-12">
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped" id="options-table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    {% for translation in new_option_form.translations %}
                        <th>Title ({{ translation.vars.label }})</th>
                    {% endfor %}
                    {% if variant.type.value == constant('App\\ProductBundle\\Enum\\ProductVariantTypeEnum::COLOR').value %}
                        <th>Color</th>
                    {% elseif variant.type.value == constant('App\\ProductBundle\\Enum\\ProductVariantTypeEnum::IMAGE').value %}
                        <th>Image</th>
                    {% endif %}
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for option_form in edit_option_form.options.children %}
                    {% include 'product/admin/productVariant/option/_row_prototype.html.twig' with {"form":option_form } %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="col-md-12">
    {% include 'adminTemplate/saveAndResetFormFooter.html.twig' %}
</div>

<div class="col-md-12 mt-20">
    {% include 'adminTemplate/pagination.html.twig' %}
</div>
{{ form_end(edit_option_form) }}