@import './../../_components/layout/tooltips/l-tooltip-styles.scss';
@import './../../_components/ui/forms/ui-form-range-styles.scss';

.wrapper-cart-modal {
    @include media-max($xl) {
        height: 92vh;
        width: 100%;
        border-radius: 0;
        margin: auto 0 0;
    }
}

.wrapper-cart-modal-close-btn {
    @include ltr {
        margin-left: auto;
    }
    @include rtl {
        margin-right: auto;
    }
}

.wrapper-cart-modal-content {
    text-align: center;
    @include media-min($xl) {
        min-width: 538px;
    }
}

.wrapper-cart-modal-icon {
    width: 136px;
    height: 136px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.wrapper-cart-modal-icon--primary {
    border: 3px solid var(--primary-color);
}

.wrapper-cart-modal-body {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 40px;
}

.wrapper-cart-modal-action {
    display: block;
    width: 100%;
}

.wrapper-cart-modal-action-link {
    border: 0;
    color: #686868;
}