{#<li class="m-header-navbar-menu-item">#}
{#    <a href="{{ path('fe_material_index') }}" class="m-header-navbar-menu-item-link {{ cr in ["fe_material_index"] ? "active" }}">#}
{#        Materials#}
{#    </a>#}
{#</li>#}
{#<li class="m-header-navbar-menu-item">#}
{#    <a href="{{ path('fe_original_design_index') }}" class="m-header-navbar-menu-item-link {{ cr in ['fe_original_design_index', "fe_original_design_show"] ? "active" }}">#}
{#        Original Designs#}
{#    </a>#}
{#</li>#}