@import '../../mixins.scss';

@include exports('l-flex-row') {

.l-flex-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    &--nowrap {
        flex-wrap: nowrap;
    }
    &--spacing-5 {
        margin-left: -5px;
        margin-right: -5px;
    }
    &--spacing-28 {
        margin-left: -28px;
        margin-right: -28px;
    }
    &--spacing-0 {
        margin-left: 0;
        margin-right: 0;
    }
    &--align-center {
        align-items: center;
    }
    &--w-100 {
        width: 100%;
    }
}

.l-flex-row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.l-flex-row.l-flex-row--spacing-0 > * {
    padding-left: 0;
    padding-right: 0;
}

.l-flex-row.l-flex-row--spacing-5 > * {
    padding-left: 5px;
    padding-right: 5px;
}

.l-flex-row.l-flex-row--spacing-28 > * {
    padding-left: 28px;
    padding-right: 28px;
}

}