<div class="pull-left  ml-10">
    <button type="reset" class="btn btn-default mr-5">
        Reset <i class="icon-reload-alt position-right"></i>
    </button>
</div>
<div class="pull-right  mr-10">
    <button type="submit" class="btn btn-primary mr-5">
        Save <i class="icon-arrow-right14 position-right"></i>
    </button>
</div>