<%- include ../_components/main/header/header.ejs %>
<%- include ../_components/main/body/body-header.ejs %>
<link rel="stylesheet" href="/pages-assets/404/404.styles.css">
<div class="l-container">
    <div class="l-404-row">
        <div class="l-404-row-picture">
            <svg width="271" height="172" viewBox="0 0 271 172" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M168.821 1.91406H270.936V170.239H168.821V1.91406ZM0.496094 1.91406H168.821V170.239H0.496094V1.91406Z"
                      fill="#F8B372"/>
                <path d="M67.6406 86.0771H101.679V170.239H67.6406V86.0771Z" fill="#FACFB0"/>
                <path d="M182.173 157.894C177.805 157.426 173.343 156.965 168.82 156.479V170.239H270.935V160.054C241.381 161.968 211.737 161.057 182.173 157.894ZM73.6549 130.175C43.3386 109.937 25.0382 75.1879 16.2407 40.5987C12.985 27.7971 11.2544 14.8849 10.489 1.91504H0.496094V170.24H168.82V156.48C136.309 152.985 100.633 148.183 73.6549 130.175Z"
                      fill="#DB8E53"/>
                <path d="M90.2884 110.16C93.9257 112.323 97.7379 114.246 101.679 115.976V86.0781H67.6406V90.2098C74.0335 98.1008 81.5339 104.953 90.2884 110.16Z"
                      fill="#FACFB0"/>
                <path d="M73.6565 130.175C71.6023 128.796 69.5958 127.347 67.6406 125.831V170.239H101.679V143.699C91.7187 140.259 82.2383 135.903 73.6565 130.175Z"
                      fill="#F2B78F"/>
                <path d="M167.852 1.91421V170.24C167.852 171.485 169.786 171.487 169.786 170.24V1.91421C169.788 0.669048 167.852 0.66679 167.852 1.91421Z"
                      fill="#010735" style="fill:var(--primary-color);"/>
            </svg>
        </div>
        <div class="l-404-row-content">
            <div class="l-404-row-content-body">
                <p class="l-404-row-content-body-title l-404-row-content-body-title=danger">404</p>
                <p class="l-404-row-content-body-subtitle">We couldn’t find what you are looking for</p>
                <a href="#" class="l-404-row-content-body-anchor">Go to Home Page</a>
            </div>
        </div>
    </div>
</div>

<%- include ../_components/main/body/body-footer.ejs %>
<link rel="stylesheet" href="/pages-assets/404/404.lazy.styles.css" fetchpriority="low">
<script src="/pages-assets/404/404.js"></script>
<script src="/pages-assets/404/404.lazy.js" fetchpriority="low"></script>
<%- include ../_components/main/footer/footer.ejs %>