<%- include ../_components/main/header/header.ejs %>
<%- include ../_components/main/body/body-header.ejs %>
<link rel="stylesheet" href="/pages-assets/contact-us-success/contact-us-success.styles.css">

<div class="wrapper-page-iframe">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3452.8781576579063!2d31.21902327612041!3d30.06902681740462!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x145840fcbb01cab7%3A0x778e3c2ddd155182!2sC.Reality!5e0!3m2!1sen!2seg!4v1689707424499!5m2!1sen!2seg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

<div class="l-container wrapper-contact-us-success">
    <svg width="95" height="73" viewBox="0 0 95 73" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M31.9659 72.8871L0.614937 36.3786L13.9392 24.9389L33.1912 47.3577L81.9009 0.561811L94.0706 13.2248L31.9659 72.8871Z" fill="#79BBC3"/>
    </svg>
    <h4>Thank You For Contacting us, Mark</h4>
    <div class="l-flex-row">
        <div class="l-flex-col-xl-4"></div>
        <div class="l-flex-col-xl-4">
            <a href="#" class="btn btn-rounded btn-outline-primary btn-block btn-md">
                Continue Shopping
            </a>
        </div>
        <div class="l-flex-col-xl-4"></div>
    </div>
</div>


<%- include ../_components/main/body/body-footer.ejs %>
<link rel="stylesheet" href="/pages-assets/contact-us-success/contact-us-success.lazy.styles.css" fetchpriority="low">
<script src="/pages-assets/contact-us-success/contact-us-success.js"></script>
<script src="/pages-assets/contact-us-success/contact-us-success.lazy.js" fetchpriority="low"></script>
<%- include ../_components/main/footer/footer.ejs %>
