<%- include ../_components/main/header/header.ejs %>
<%- include ../_components/main/body/body-header.ejs %>
<link rel="stylesheet" href="/pages-assets/faqs/faqs.styles.css">

<div class="wrapper-featured-section">
    <div class="l-featured-section ui-featured-section--spacing-bottom-0 ui-featured-section lazyload" data-bg="/assets/img/featured-section-bg.webp" data-delay="5000">
        <div class="l-featured-section-content">
            <div class="l-container">
                <div class="l-flex-row">
                    <div class="l-flex-col-lg-12">
                        <div class="l-featured-section-content-box">
                            <div class="l-page-title-box">
                                <div class="wrapper-page-title">
                                    <div class="wrapper-page-subtitle">
                                        FAQs
                                    </div>
                                    <h1 class="l-page-title ui-page-title ui-page-title--no-description">Ask us anything</h1>
                                    <div class="wrapper-page-address">
                                        <p>Have any questions? We’re here to help you.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="l-container wrapper-faqs">
    <div class="l-flex-row wrapper-faqs-row">
        <div class="l-flex-col-xl-4">
            <div class="wrapper-faq">
                <span class="circle"></span>
                <h4 class="title">
                    What is creality.com?
                </h4>
                <div class="body">
                    <p>Just Piece is the first and largest Egyptian online shopping company specializing in displaying tools and spare parts related to industrial processes and maintenance. We are delighted to sell parts as simple as nails and accessories to a full machinery equipments. Just Piece plays intermediary role between retailers and suppliers on one hand and consumers on the other hand, whether the customer is an organization, a factory or even individuals who are looking for household or car maintenance . . .For More information Please Click here.</p>
                </div>
            </div>
        </div>
        <div class="l-flex-col-xl-4">
            <div class="wrapper-faq">
                <span class="circle"></span>
                <h4 class="title">
                    What items can I sell on creality.com?
                </h4>
                <div class="body">
                    <p>Tools and spare parts related to industrial processes and maintenance. We are delighted to sell parts as simple as nails and accessories to a full machinery equipments.                    </p>
                </div>
            </div>
        </div>
        <div class="l-flex-col-xl-4">
            <div class="wrapper-faq">
                <span class="circle"></span>
                <h4 class="title">
                    How to create a seller account on creality?
                </h4>
                <div class="body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.                    </p>
                </div>
            </div>
        </div>
        <div class="l-flex-col-xl-12">
            <div class="wrapper-faqs-row-separator">
            </div>
        </div>
        <div class="l-flex-col-xl-4">
            <div class="wrapper-faq">
                <span class="circle"></span>
                <h4 class="title">
                    What is creality.com?
                </h4>
                <div class="body">
                    <p>Just Piece is the first and largest Egyptian online shopping company specializing in displaying tools and spare parts related to industrial processes and maintenance. We are delighted to sell parts as simple as nails and accessories to a full machinery equipments. Just Piece plays intermediary role between retailers and suppliers on one hand and consumers on the other hand, whether the customer is an organization, a factory or even individuals who are looking for household or car maintenance . . .For More information Please Click here.</p>
                </div>
            </div>
        </div>
        <div class="l-flex-col-xl-4">
            <div class="wrapper-faq">
                <span class="circle"></span>
                <h4 class="title">
                    What items can I sell on creality.com?
                </h4>
                <div class="body">
                    <p>Tools and spare parts related to industrial processes and maintenance. We are delighted to sell parts as simple as nails and accessories to a full machinery equipments.                    </p>
                </div>
            </div>
        </div>
        <div class="l-flex-col-xl-4">
            <div class="wrapper-faq">
                <span class="circle"></span>
                <h4 class="title">
                    How to create a seller account on creality?
                </h4>
                <div class="body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.                    </p>
                </div>
            </div>
        </div>
        <div class="l-flex-col-xl-12">
            <div class="wrapper-faqs-row-separator">
            </div>
        </div>
        <div class="l-flex-col-xl-4">
            <div class="wrapper-faq">
                <span class="circle"></span>
                <h4 class="title">
                    What is creality.com?
                </h4>
                <div class="body">
                    <p>Just Piece is the first and largest Egyptian online shopping company specializing in displaying tools and spare parts related to industrial processes and maintenance. We are delighted to sell parts as simple as nails and accessories to a full machinery equipments. Just Piece plays intermediary role between retailers and suppliers on one hand and consumers on the other hand, whether the customer is an organization, a factory or even individuals who are looking for household or car maintenance . . .For More information Please Click here.</p>
                </div>
            </div>
        </div>
        <div class="l-flex-col-xl-4">
            <div class="wrapper-faq">
                <span class="circle"></span>
                <h4 class="title">
                    What items can I sell on creality.com?
                </h4>
                <div class="body">
                    <p>Tools and spare parts related to industrial processes and maintenance. We are delighted to sell parts as simple as nails and accessories to a full machinery equipments.                    </p>
                </div>
            </div>
        </div>
        <div class="l-flex-col-xl-4">
            <div class="wrapper-faq">
                <span class="circle"></span>
                <h4 class="title">
                    How to create a seller account on creality?
                </h4>
                <div class="body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.                    </p>
                </div>
            </div>
        </div>
        <div class="l-flex-col-xl-12">
            <div class="wrapper-faqs-cta">
                <div class="l-flex-row wrapper-faqs-cta-row">
                    <div class="l-flex-col-xl-8">
                        <h4>Still have questions?</h4>
                        <p>Can’t find the answer you’re looking for? Please chat to our friendly team.</p>
                    </div>
                    <div class="l-flex-col-xl-4 cta-wrapper">
                        <a href="#" class="btn btn-primary btn-md btn-rounded">Get in touch</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include ../_components/main/body/body-footer.ejs %>
<link rel="stylesheet" href="/pages-assets/faqs/faqs.lazy.styles.css" fetchpriority="low">
<script src="/pages-assets/faqs/faqs.js"></script>
<script src="/pages-assets/faqs/faqs.lazy.js" fetchpriority="low"></script>
<%- include ../_components/main/footer/footer.ejs %>
