<%- include ../_components/main/header/header.ejs %>
<%- include ../_components/main/body/body-header.ejs %>
<link rel="stylesheet" href="/pages-assets/forgot-password/forgot-password.styles.css">

<div class="wrapper-featured-section">
    <div class="l-featured-section ui-featured-section--spacing-bottom-0 ui-featured-section lazyload" data-bg="/assets/img/featured-section-bg.webp" data-delay="5000">
        <div class="l-featured-section-content">
            <div class="l-container">
                <div class="l-flex-row">
                    <div class="l-flex-col-lg-2"></div>
                    <div class="l-flex-col-lg-8">
                        <div class="l-featured-section-content-box">
                            <div class="l-page-title-box">
                                <h1 class="l-page-title ui-page-title">Forgot Password</h1>
                            </div>
                        </div>
                    </div>
                    <div class="l-flex-col-lg-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="l-container sign-form">
    <br>
    <br>
    <div class="l-flex-row">
        <div class="l-flex-col-xl-5">
            <div>
                <div data-l-product-list-grid-products-container="true">
                    <div class="l-product-list-grid-col-products-header">
                        <div class="l-flex-row">
                            <div class="l-flex-col-lg-6">
                                <div class="l-breadcrumbs ui-breadcrumbs">
                                    <a class="ui-breadcrumbs-item" href="#">Home</a>
                                    <span class="ui-breadcrumbs-item separator active">/</span>
                                    <span class="ui-breadcrumbs-item active">Forgot Password</span>
                                </div>
                            </div>
                            <div class="l-flex-col-lg-6">
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <form data-form-validate="true" data-sign-form="true">
                        <div class="l-flex-row">
                            <div class="l-flex-col-xl-8">
                                <h2 class="title">Forgot Password</h2>
                                <p class="subtitle">
                                    No worries. Just enter the email associated with your account and we’ll send an email with a code to reset your password.
                                </p>
                            </div>
                            <div class="l-flex-col-xl-4">
                            </div>
                            <div class="l-flex-col-xl-12">
                                <div class="form-input-box" data-form-validate-input-box="true">
                                    <label class="stack-input stack-input-icon stack-input-block" data-stack-input="true">
                                        <div class="stack-input stack-input-inner stack-input-block">
                                            <span class="label" data-stack-input-label="true">Email</span>
                                            <input type="email" class="input" data-stack-input-input="true" name="email" autocomplete="email" data-validate-input="email" data-form-validate-input-rules="required|email" placeholder="Email" />
                                        </div>
                                        <div class="stack-input-prefix">
                                            <svg width="25" height="18" viewBox="0 0 25 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M22.8027 0H2.19727C0.988184 0 0 0.983838 0 2.19727V15.3809C0 16.5947 0.988818 17.5781 2.19727 17.5781H22.8027C24.0118 17.5781 25 16.5943 25 15.3809V2.19727C25 0.983545 24.0113 0 22.8027 0ZM22.4653 1.46484C21.7549 2.17759 13.4104 10.5493 13.0676 10.8933C12.7812 11.1805 12.2189 11.1807 11.9324 10.8933L2.53467 1.46484H22.4653ZM1.46484 15.1116V2.46655L7.76685 8.78906L1.46484 15.1116ZM2.53467 16.1133L8.80098 9.82656L10.895 11.9274C11.7531 12.7883 13.2473 12.7879 14.1051 11.9274L16.1991 9.82661L22.4653 16.1133H2.53467ZM23.5352 15.1116L17.2332 8.78906L23.5352 2.46655V15.1116Z" fill="#929292"/>
                                            </svg>
                                        </div>
                                    </label>
                                    <ul class="form-input-errors" data-validate-input-errors="email">
                                    </ul>
                                </div>
                            </div>
                            <div class="l-flex-col-xl-12">
                                <br>
                                <br>
                                <div class="buttons">
                                    <button class="btn btn-primary btn-lg btn-block" disabled type="submit">Send me Code</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
        </div>
        <div class="l-flex-col-xl-1"></div>
        <div class="l-flex-col-xl-6">
            <img class="aside-img" src="/assets/img/sign-img.webp" alt="Forgot Password" />
        </div>
    </div>
</div>


<%- include ../_components/main/body/body-footer.ejs %>
<link rel="stylesheet" href="/pages-assets/forgot-password/forgot-password.lazy.styles.css" fetchpriority="low">
<script src="/pages-assets/forgot-password/forgot-password.js"></script>
<script src="/pages-assets/forgot-password/forgot-password.lazy.js" fetchpriority="low"></script>
<%- include ../_components/main/footer/footer.ejs %>
