<%- include ../_components/main/header/header.ejs %>
<%- include ../_components/main/body/body-header.ejs %>
<link rel="stylesheet" href="/pages-assets/login/login.styles.css">

<div class="wrapper-featured-section">
    <div class="l-featured-section ui-featured-section--spacing-bottom-0 ui-featured-section lazyload" data-bg="/assets/img/featured-section-bg.webp" data-delay="5000">
        <div class="l-featured-section-content">
            <div class="l-container">
                <div class="l-flex-row">
                    <div class="l-flex-col-lg-2"></div>
                    <div class="l-flex-col-lg-8">
                        <div class="l-featured-section-content-box">
                            <div class="l-page-title-box">
                                <h1 class="l-page-title ui-page-title">Login</h1>
                            </div>
                        </div>
                    </div>
                    <div class="l-flex-col-lg-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="l-container sign-form">
    <br>
    <br>
    <div class="l-flex-row">
        <div class="l-flex-col-xl-5">
            <div>
                <div data-l-product-list-grid-products-container="true">
                    <div class="l-product-list-grid-col-products-header">
                        <div class="l-flex-row">
                            <div class="l-flex-col-lg-6">
                                <div class="l-breadcrumbs ui-breadcrumbs">
                                    <a class="ui-breadcrumbs-item" href="#">Home</a>
                                    <span class="ui-breadcrumbs-item separator active">/</span>
                                    <span class="ui-breadcrumbs-item active">Login</span>
                                </div>
                            </div>
                            <div class="l-flex-col-lg-6">
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <form data-form-validate="true" data-sign-form="true">
                        <div class="l-flex-row">
                            <div class="l-flex-col-xl-8">
                                <h2 class="title">Login</h2>
                                <p class="subtitle">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                </p>
                            </div>
                            <div class="l-flex-col-xl-4">
                            </div>
                            <div class="l-flex-col-xl-12">
                                <div class="alert alert-danger alert-spacing">
                                    Username or Password is Incorrect
                                </div>
                                <!-- <div class="alert alert-success alert-spacing">
                                    Success message
                                </div>
                                <div class="alert alert-warning alert-spacing">
                                    Warning message
                                </div> -->
                            </div>
                            <div class="l-flex-col-xl-12">
                                <div class="form-input-box" data-form-validate-input-box="true">
                                    <label class="stack-input stack-input-icon stack-input-block" data-stack-input="true">
                                        <div class="stack-input stack-input-inner stack-input-block">
                                            <span class="label" data-stack-input-label="true">Email</span>
                                            <input type="email" class="input" data-stack-input-input="true" name="email" autocomplete="email" data-validate-input="email" data-form-validate-input-rules="required|email" placeholder="Email" />
                                        </div>
                                        <div class="stack-input-prefix">
                                            <svg width="25" height="18" viewBox="0 0 25 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M22.8027 0H2.19727C0.988184 0 0 0.983838 0 2.19727V15.3809C0 16.5947 0.988818 17.5781 2.19727 17.5781H22.8027C24.0118 17.5781 25 16.5943 25 15.3809V2.19727C25 0.983545 24.0113 0 22.8027 0ZM22.4653 1.46484C21.7549 2.17759 13.4104 10.5493 13.0676 10.8933C12.7812 11.1805 12.2189 11.1807 11.9324 10.8933L2.53467 1.46484H22.4653ZM1.46484 15.1116V2.46655L7.76685 8.78906L1.46484 15.1116ZM2.53467 16.1133L8.80098 9.82656L10.895 11.9274C11.7531 12.7883 13.2473 12.7879 14.1051 11.9274L16.1991 9.82661L22.4653 16.1133H2.53467ZM23.5352 15.1116L17.2332 8.78906L23.5352 2.46655V15.1116Z" fill="#929292"/>
                                            </svg>
                                        </div>
                                    </label>
                                    <ul class="form-input-errors" data-validate-input-errors="email">
                                    </ul>
                                </div>
                            </div>
                            <div class="l-flex-col-xl-12">
                                <div class="form-input-box" data-form-validate-input-box="true">
                                    <label class="stack-input stack-input-icon stack-input-block" data-stack-input="true">
                                        <div class="stack-input stack-input-inner stack-input-block">
                                            <span class="label" data-stack-input-label="true">Password</span>
                                            <input type="password" class="input" data-stack-input-input="true" name="password" autocomplete="password" data-validate-input="password" data-form-validate-input-rules="required" placeholder="Password" data-ui-form-password="sign-password" />
                                        </div>
                                        <button class="btn stack-input-prefix" type="button">
                                            <svg width="28" height="24" viewBox="0 0 28 24" fill="none" xmlns="http://www.w3.org/2000/svg" data-ui-form-password-btn="sign-password">
                                                <path d="M17.4761 12.4391L19.0664 10.7042C19.1821 11.1765 19.25 11.6702 19.25 12.1819C19.25 15.34 16.8949 17.9091 14 17.9091C13.531 17.9091 13.0784 17.8352 12.6455 17.7089L14.2358 15.974C15.9746 15.8447 17.3575 14.336 17.4761 12.4391ZM27.8897 11.7182C27.7821 11.507 26.2556 8.58921 23.2719 6.11647L21.9985 7.50556C24.1742 9.25071 25.5528 11.286 26.0955 12.1833C25.0584 13.906 20.9901 19.8182 14 19.8182C12.9517 19.8182 11.977 19.6719 11.0598 19.4385L9.62191 21.0071C10.9438 21.4493 12.3967 21.7273 14 21.7273C23.1597 21.7273 27.7009 13.0161 27.8897 12.6455C28.0367 12.357 28.0367 12.0067 27.8897 11.7182ZM24.2436 2.35676L4.99361 23.3567C4.82277 23.5431 4.59877 23.6364 4.37499 23.6364C4.15121 23.6364 3.92721 23.5431 3.75637 23.3567C3.41446 22.9837 3.41446 22.3797 3.75637 22.007L6.20548 19.3352C2.24612 16.7276 0.234281 12.8892 0.11025 12.6455C-0.0367499 12.357 -0.0367499 12.0065 0.11025 11.718C0.29903 11.3476 4.84027 2.63644 14 2.63644C16.3684 2.63644 18.4198 3.22587 20.1735 4.09737L23.0063 1.00704C23.3482 0.634048 23.9019 0.634048 24.2436 1.00704C24.5852 1.38002 24.5855 1.98401 24.2436 2.35676ZM7.51032 17.9118L9.7256 15.4951C9.11376 14.5587 8.74998 13.4168 8.74998 12.1819C8.74998 9.02376 11.105 6.45461 14 6.45461C15.132 6.45461 16.1787 6.85146 17.0371 7.51869L18.8284 5.5645C17.4131 4.9462 15.8049 4.54553 14 4.54553C7.00983 4.54553 2.94152 10.4577 1.90465 12.1804C2.56309 13.2691 4.45571 16.0249 7.51032 17.9118ZM10.9959 14.1091L15.7666 8.90468C15.2462 8.5694 14.647 8.3637 14 8.3637C12.0702 8.3637 10.5 10.0766 10.5 12.1819C10.5 12.8878 10.6885 13.5414 10.9959 14.1091Z" fill="#929292"></path>
                                            </svg>
                                        </button>
                                    </label>
                                    <ul class="form-input-errors" data-validate-input-errors="password">
                                    </ul>
                                </div>
                            </div>
                            <div class="l-flex-col-xl-12">
                                <div class="l-flex-row">
                                    <div class="l-flex-col-6">
                                        <div class="form-input-box checkbox-wrapper">
                                            <br>
                                            <input class="l-form-checkbox ui-form-checkbox ui-form-checkbox--color-light ui-form-checkbox--rounded-lg" type="checkbox" name="remember" id="remember" value="1">
                                            <label class="l-form-checkbox-label l-form-checkbox-label--spacing-6 ui-form-checkbox-label ui-form-checkbox-label--lg" for="remember">Remember me</label>
                                            <br>
                                            <ul class="form-input-errors" data-validate-input-errors="terms">
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="l-flex-col-6">
                                        <div class="form-input-box aside-link-wrapper">
                                            <a href="#">Forgot Password?</a>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="l-flex-col-xl-12">
                                <br>
                                <br>
                                <div class="buttons">
                                    <button class="btn btn-primary btn-lg btn-block" disabled type="submit">Login</button>
                                    <a class="btn btn-outline-light btn-lg btn-block social-btn" href="#">
                                        <svg width="15" height="28" viewBox="0 0 15 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M13.5803 15.3799L14.3335 10.4316H9.622V7.22184C9.622 5.86775 10.2789 4.54709 12.3892 4.54709H14.5325V0.334345C14.5325 0.334345 12.5882 0 10.7302 0C6.84821 0 4.31331 2.3705 4.31331 6.66015V10.4316H0V15.3799H4.31331V27.3427C5.17929 27.4798 6.06518 27.55 6.96765 27.55C7.87013 27.55 8.75602 27.4798 9.622 27.3427V15.3799H13.5803Z" fill="#1877F1"/>
                                        </svg>
                                        &nbsp;
                                        &nbsp;
                                        Login with Facebook
                                    </a>
                                    <a class="btn btn-outline-light btn-lg btn-block social-btn"  href="#">
                                        <svg width="29" height="28" viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M27.0024 11.567L15.5558 11.5664C15.0503 11.5664 14.6406 11.9751 14.6406 12.4795V16.1279C14.6406 16.6322 15.0503 17.041 15.5557 17.041H22.0017C21.2959 18.8687 19.9785 20.3994 18.2977 21.3719L21.0462 26.1193C25.4553 23.5751 28.0619 19.111 28.0619 14.1137C28.0619 13.4022 28.0094 12.8936 27.9043 12.3208C27.8243 11.8857 27.4457 11.567 27.0024 11.567Z" fill="#167EE6"/>
                                            <path d="M14.0321 22.5223C10.8775 22.5223 8.12363 20.8026 6.64457 18.2578L1.88672 20.994C4.30796 25.181 8.84372 28.0006 14.0321 28.0006C16.5773 28.0006 18.9789 27.3168 21.0478 26.1252V26.1187L18.2992 21.3713C17.042 22.0988 15.5871 22.5223 14.0321 22.5223Z" fill="#12B347"/>
                                            <path d="M21.047 26.125V26.1185L18.2984 21.3711C17.0412 22.0986 15.5864 22.5221 14.0312 22.5221V28.0004C16.5765 28.0004 18.9782 27.3166 21.047 26.125Z" fill="#0F993E"/>
                                            <path d="M5.49056 13.9994C5.49056 12.4479 5.9149 10.9965 6.64393 9.74209L1.88607 7.00586C0.685237 9.06359 0 11.4533 0 13.9994C0 16.5454 0.685237 18.9351 1.88607 20.9928L6.64393 18.2566C5.9149 17.0022 5.49056 15.5508 5.49056 13.9994Z" fill="#FFD500"/>
                                            <path d="M14.0321 5.47827C16.0891 5.47827 17.9787 6.20758 19.4545 7.42071C19.8186 7.71996 20.3478 7.69836 20.6814 7.36559L23.2722 4.78051C23.6506 4.40295 23.6237 3.78492 23.2195 3.43503C20.7467 1.29462 17.5293 0 14.0321 0C8.84372 0 4.30796 2.81952 1.88672 7.00651L6.64457 9.74274C8.12363 7.19797 10.8775 5.47827 14.0321 5.47827Z" fill="#FF4B26"/>
                                            <path d="M19.4537 7.42071C19.8178 7.71996 20.3471 7.69836 20.6806 7.36559L23.2714 4.78051C23.6498 4.40295 23.6228 3.78492 23.2186 3.43503C20.7459 1.29456 17.5285 0 14.0312 0V5.47827C16.0883 5.47827 17.9779 6.20758 19.4537 7.42071Z" fill="#D93F21"/>
                                        </svg>
                                        &nbsp;
                                        &nbsp;
                                        Login with Google
                                    </a>
                                </div>
                            </div>
                            <div class="l-flex-col-xl-12">
                                <br>
                                <br>
                                <div class="buttons-title">
                                    Don’t have an account? &nbsp;&nbsp; <strong>Get Started</strong>
                                </div>
                                <br>
                                <div class="buttons">
                                    <a class="btn btn-primary btn-lg btn-block" href="#">Create an Account</a>
                                    <a class="btn btn-outline-light btn-lg btn-block social-btn" href="#">
                                        <svg width="15" height="28" viewBox="0 0 15 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M13.5803 15.3799L14.3335 10.4316H9.622V7.22184C9.622 5.86775 10.2789 4.54709 12.3892 4.54709H14.5325V0.334345C14.5325 0.334345 12.5882 0 10.7302 0C6.84821 0 4.31331 2.3705 4.31331 6.66015V10.4316H0V15.3799H4.31331V27.3427C5.17929 27.4798 6.06518 27.55 6.96765 27.55C7.87013 27.55 8.75602 27.4798 9.622 27.3427V15.3799H13.5803Z" fill="#1877F1"/>
                                        </svg>
                                        &nbsp;
                                        &nbsp;
                                        Sign Up with Facebook
                                    </a>
                                    <a class="btn btn-outline-light btn-lg btn-block social-btn"  href="#">
                                        <svg width="29" height="28" viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M27.0024 11.567L15.5558 11.5664C15.0503 11.5664 14.6406 11.9751 14.6406 12.4795V16.1279C14.6406 16.6322 15.0503 17.041 15.5557 17.041H22.0017C21.2959 18.8687 19.9785 20.3994 18.2977 21.3719L21.0462 26.1193C25.4553 23.5751 28.0619 19.111 28.0619 14.1137C28.0619 13.4022 28.0094 12.8936 27.9043 12.3208C27.8243 11.8857 27.4457 11.567 27.0024 11.567Z" fill="#167EE6"/>
                                            <path d="M14.0321 22.5223C10.8775 22.5223 8.12363 20.8026 6.64457 18.2578L1.88672 20.994C4.30796 25.181 8.84372 28.0006 14.0321 28.0006C16.5773 28.0006 18.9789 27.3168 21.0478 26.1252V26.1187L18.2992 21.3713C17.042 22.0988 15.5871 22.5223 14.0321 22.5223Z" fill="#12B347"/>
                                            <path d="M21.047 26.125V26.1185L18.2984 21.3711C17.0412 22.0986 15.5864 22.5221 14.0312 22.5221V28.0004C16.5765 28.0004 18.9782 27.3166 21.047 26.125Z" fill="#0F993E"/>
                                            <path d="M5.49056 13.9994C5.49056 12.4479 5.9149 10.9965 6.64393 9.74209L1.88607 7.00586C0.685237 9.06359 0 11.4533 0 13.9994C0 16.5454 0.685237 18.9351 1.88607 20.9928L6.64393 18.2566C5.9149 17.0022 5.49056 15.5508 5.49056 13.9994Z" fill="#FFD500"/>
                                            <path d="M14.0321 5.47827C16.0891 5.47827 17.9787 6.20758 19.4545 7.42071C19.8186 7.71996 20.3478 7.69836 20.6814 7.36559L23.2722 4.78051C23.6506 4.40295 23.6237 3.78492 23.2195 3.43503C20.7467 1.29462 17.5293 0 14.0321 0C8.84372 0 4.30796 2.81952 1.88672 7.00651L6.64457 9.74274C8.12363 7.19797 10.8775 5.47827 14.0321 5.47827Z" fill="#FF4B26"/>
                                            <path d="M19.4537 7.42071C19.8178 7.71996 20.3471 7.69836 20.6806 7.36559L23.2714 4.78051C23.6498 4.40295 23.6228 3.78492 23.2186 3.43503C20.7459 1.29456 17.5285 0 14.0312 0V5.47827C16.0883 5.47827 17.9779 6.20758 19.4537 7.42071Z" fill="#D93F21"/>
                                        </svg>
                                        &nbsp;
                                        &nbsp;
                                        Sign Up with Google
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
        </div>
        <div class="l-flex-col-xl-1"></div>
        <div class="l-flex-col-xl-6">
            <img class="aside-img" src="/assets/img/sign-img.webp" alt="Login" />
        </div>
    </div>
</div>


<%- include ../_components/main/body/body-footer.ejs %>
<link rel="stylesheet" href="/pages-assets/login/login.lazy.styles.css" fetchpriority="low">
<script src="/pages-assets/login/login.js"></script>
<script src="/pages-assets/login/login.lazy.js" fetchpriority="low"></script>
<%- include ../_components/main/footer/footer.ejs %>
