<div class="l-featured-cta-section-wrapper">
    <div class="l-container l-container--phone-spacing">
        <div class="l-featured-cta-section ui-featured-cta-section">
            <div class="l-flex-row l-flex-row--w-100">
                <div class="l-flex-col-lg-8">
                    <h3 class="l-featured-cta-section-title ui-featured-cta-section-title">Introducing <span class="l-featured-cta-section-title-highlight ui-featured-cta-section-title-highlight">Just <span>a Gift</span></span></h3>
                    <h6 class="l-featured-cta-section-subtitle ui-featured-cta-section-subtitle">Now you can <strong>Smart Gift</strong> on <strong>Justpiece!</strong></h6>
                    <p class="l-featured-cta-section-content ui-featured-cta-section-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <a class="l-featured-cta-section-action ui-featured-cta-section-action" href="#">Get Started</a>
                </div>
                <div class="l-flex-col-lg-4 l-featured-cta-section-img-parent">
                    <img data-src="/assets/img/just-gift-section-img.webp" alt="CTA" class="l-featured-cta-section-img lazyload" />
                </div>
            </div>
        </div>
    </div>
</div>