<div class="l-container">
    <div class="l-flex-row">
        <div class="l-flex-col-xxl-2"></div>
        <div class="l-flex-col-xxl-8 wrapper-desc-col">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>
        <div class="l-flex-col-xxl-2"></div>
        <div class="l-flex-col-xxl-3 l-flex-col-lg-4 l-flex-col-md-6 wrapper-project-col">
            <a class="l-featured-floating-banner ui-featured-floating-banner" href="#">
                <img
                    class="l-featured-floating-banner-img lazyload"
                    width="388"
                    height="304"
                    data-expand="-20"
                    data-delay="5000"
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-src="/assets/img/demo/featured-floating-banners-section-banner-1.webp"
                    alt="Banner 1"
                />
                <div class="l-featured-floating-banner-caption ui-featured-floating-banner-caption">
                    <h5 class="ui-featured-floating-banner-caption-title l-featured-floating-banner-caption-title">MEDITERRANEO OFFICES</h5>
                    <p class="ui-featured-floating-banner-caption-txt l-featured-floating-banner-caption-txt">INTERIOR CONSULTING & FURNITURE</p>
                </div>
            </a>
        </div>
        <div class="l-flex-col-xxl-3 l-flex-col-lg-4 l-flex-col-md-6 wrapper-project-col">
            <a class="l-featured-floating-banner ui-featured-floating-banner" href="#">
                <img
                    class="l-featured-floating-banner-img lazyload"
                    width="388"
                    height="304"
                    data-expand="-20"
                    data-delay="5000"
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-src="/assets/img/demo/featured-floating-banners-section-banner-2.webp"
                    alt="Banner 1"
                />
                <div class="l-featured-floating-banner-caption ui-featured-floating-banner-caption">
                    <h5 class="ui-featured-floating-banner-caption-title l-featured-floating-banner-caption-title">MEDITERRANEO OFFICES</h5>
                    <p class="ui-featured-floating-banner-caption-txt l-featured-floating-banner-caption-txt">INTERIOR CONSULTING & FURNITURE</p>
                </div>
            </a>
        </div>
        <div class="l-flex-col-xxl-3 l-flex-col-lg-4 l-flex-col-md-6 wrapper-project-col">
            <a class="l-featured-floating-banner ui-featured-floating-banner" href="#">
                <img
                    class="l-featured-floating-banner-img lazyload"
                    width="388"
                    height="304"
                    data-expand="-20"
                    data-delay="5000"
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-src="/assets/img/demo/featured-floating-banners-section-banner-1.webp"
                    alt="Banner 1"
                />
                <div class="l-featured-floating-banner-caption ui-featured-floating-banner-caption">
                    <h5 class="ui-featured-floating-banner-caption-title l-featured-floating-banner-caption-title">MEDITERRANEO OFFICES</h5>
                    <p class="ui-featured-floating-banner-caption-txt l-featured-floating-banner-caption-txt">INTERIOR CONSULTING & FURNITURE</p>
                </div>
            </a>
        </div>
        <div class="l-flex-col-xxl-3 l-flex-col-lg-4 l-flex-col-md-6 wrapper-project-col">
            <a class="l-featured-floating-banner ui-featured-floating-banner" href="#">
                <img
                    class="l-featured-floating-banner-img lazyload"
                    width="388"
                    height="304"
                    data-expand="-20"
                    data-delay="5000"
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-src="/assets/img/demo/featured-floating-banners-section-banner-2.webp"
                    alt="Banner 1"
                />
                <div class="l-featured-floating-banner-caption ui-featured-floating-banner-caption">
                    <h5 class="ui-featured-floating-banner-caption-title l-featured-floating-banner-caption-title">MEDITERRANEO OFFICES</h5>
                    <p class="ui-featured-floating-banner-caption-txt l-featured-floating-banner-caption-txt">INTERIOR CONSULTING & FURNITURE</p>
                </div>
            </a>
        </div>
        <div class="l-flex-col-xxl-3 l-flex-col-lg-4 l-flex-col-md-6 wrapper-project-col">
            <a class="l-featured-floating-banner ui-featured-floating-banner" href="#">
                <img
                    class="l-featured-floating-banner-img lazyload"
                    width="388"
                    height="304"
                    data-expand="-20"
                    data-delay="5000"
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-src="/assets/img/demo/featured-floating-banners-section-banner-1.webp"
                    alt="Banner 1"
                />
                <div class="l-featured-floating-banner-caption ui-featured-floating-banner-caption">
                    <h5 class="ui-featured-floating-banner-caption-title l-featured-floating-banner-caption-title">MEDITERRANEO OFFICES</h5>
                    <p class="ui-featured-floating-banner-caption-txt l-featured-floating-banner-caption-txt">INTERIOR CONSULTING & FURNITURE</p>
                </div>
            </a>
        </div>
        <div class="l-flex-col-xxl-3 l-flex-col-lg-4 l-flex-col-md-6 wrapper-project-col">
            <a class="l-featured-floating-banner ui-featured-floating-banner" href="#">
                <img
                    class="l-featured-floating-banner-img lazyload"
                    width="388"
                    height="304"
                    data-expand="-20"
                    data-delay="5000"
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-src="/assets/img/demo/featured-floating-banners-section-banner-2.webp"
                    alt="Banner 1"
                />
                <div class="l-featured-floating-banner-caption ui-featured-floating-banner-caption">
                    <h5 class="ui-featured-floating-banner-caption-title l-featured-floating-banner-caption-title">MEDITERRANEO OFFICES</h5>
                    <p class="ui-featured-floating-banner-caption-txt l-featured-floating-banner-caption-txt">INTERIOR CONSULTING & FURNITURE</p>
                </div>
            </a>
        </div>
        <div class="l-flex-col-xxl-3 l-flex-col-lg-4 l-flex-col-md-6 wrapper-project-col">
            <a class="l-featured-floating-banner ui-featured-floating-banner" href="#">
                <img
                    class="l-featured-floating-banner-img lazyload"
                    width="388"
                    height="304"
                    data-expand="-20"
                    data-delay="5000"
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-src="/assets/img/demo/featured-floating-banners-section-banner-4.webp"
                    alt="Banner 1"
                />
                <div class="l-featured-floating-banner-caption ui-featured-floating-banner-caption">
                    <h5 class="ui-featured-floating-banner-caption-title l-featured-floating-banner-caption-title">MEDITERRANEO OFFICES</h5>
                    <p class="ui-featured-floating-banner-caption-txt l-featured-floating-banner-caption-txt">INTERIOR CONSULTING & FURNITURE</p>
                </div>
            </a>
        </div>
        <div class="l-flex-col-xxl-3 l-flex-col-lg-4 l-flex-col-md-6 wrapper-project-col">
            <a class="l-featured-floating-banner ui-featured-floating-banner" href="#">
                <img
                    class="l-featured-floating-banner-img lazyload"
                    width="388"
                    height="304"
                    data-expand="-20"
                    data-delay="5000"
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-src="/assets/img/demo/featured-floating-banners-section-banner-3.webp"
                    alt="Banner 1"
                />
                <div class="l-featured-floating-banner-caption ui-featured-floating-banner-caption">
                    <h5 class="ui-featured-floating-banner-caption-title l-featured-floating-banner-caption-title">MEDITERRANEO OFFICES</h5>
                    <p class="ui-featured-floating-banner-caption-txt l-featured-floating-banner-caption-txt">INTERIOR CONSULTING & FURNITURE</p>
                </div>
            </a>
        </div>
    </div>
    
    <div class="l-product-list-grid-pagination" data-l-product-list-grid-pagination="true">
        <br><br>
        <div class="l-pagination ui-pagination">
            <a href="#" class="ui-pagination-item l-pagination-item disabled" aria-label="Perv" data-l-product-list-grid-pagination-item="true">
                <svg width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.1602 1.41L9.58016 6L14.1602 10.59L12.7502 12L6.75016 6L12.7502 0L14.1602 1.41Z" fill="#C4CDD5"/><path d="M8.16016 1.41L3.58016 6L8.16016 10.59L6.75016 12L0.750156 6L6.75016 0L8.16016 1.41Z" fill="#C4CDD5"/></svg>
            </a>
            <a href="#" class="ui-pagination-item l-pagination-item disabled" aria-label="Perv" data-l-product-list-grid-pagination-item="true">
                <svg width="9" height="12" viewBox="0 0 9 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.16016 1.41L3.58016 6L8.16016 10.59L6.75016 12L0.750156 6L6.75016 0L8.16016 1.41Z" fill="#C4CDD5" />
                </svg>
            </a>
            <a href="#" class="ui-pagination-item l-pagination-item active" aria-label="Page 1" data-l-product-list-grid-pagination-item="true">
                1
            </a>
            <a href="#" class="ui-pagination-item l-pagination-item" aria-label="Page 2" data-l-product-list-grid-pagination-item="true">
                2
            </a>
            <a href="#" class="ui-pagination-item l-pagination-item" aria-label="Page 3" data-l-product-list-grid-pagination-item="true">
                3
            </a>
            <a href="#" class="ui-pagination-item l-pagination-item" aria-label="Page 4" data-l-product-list-grid-pagination-item="true">
                4
            </a>
            <a href="#" class="ui-pagination-item l-pagination-item" aria-label="Page 4" data-l-product-list-grid-pagination-item="true">
                5
            </a>
            <a href="#" class="ui-pagination-item l-pagination-item" aria-label="Next" data-l-product-list-grid-pagination-item="true">
                <svg xmlns="http://www.w3.org/2000/svg" width="13.41" height="12" viewBox="0 0 13.41 12"><g transform="translate(14.16 12) rotate(180)"><path d="M14.16,1.41,9.58,6l4.58,4.59L12.75,12l-6-6,6-6Z" fill="#C4CDD5"/><path d="M8.16,1.41,3.58,6l4.58,4.59L6.75,12l-6-6,6-6Z" fill="#c4cdd5"/></g></svg>
            </a>
            <a href="#" class="ui-pagination-item l-pagination-item" aria-label="Next" data-l-product-list-grid-pagination-item="true">
                <svg width="9" height="12" viewBox="0 0 9 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.839844 1.41L5.41984 6L0.839844 10.59L2.24984 12L8.24984 6L2.24984 0L0.839844 1.41Z" fill="#C4CDD5" />
                </svg>
            </a>
        </div>
    </div>
</div>