<div class="u-bg-light">

    <div class="l-container">
        <div class="l-flex-row">
            <div class="l-flex-col-xxl-2"></div>
            <div class="l-flex-col-xxl-8 wrapper-desc-col">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. </p>
            </div>
            <div class="l-flex-col-xxl-2"></div>
        </div>
        <div class="l-flex-row">
            <div class="l-flex-col-lg-4 l-flex-col-md-6">
                <a href="#" class="category-card">
                    <div class="img">
                        <picture>
                            <!--[if IE 9]>
                            <video style="display: none;><![endif]-->
                            <source data-srcset="//placehold.co/559x408/3e6f71/ffffff.webp?text=576" media="--small"/>
                            <source data-srcset="//placehold.co/540x394/3e6f71/ffffff.webp?text=768" media="--medium"/>
                            <source data-srcset="//placehold.co/350x255/3e6f71/ffffff.webp?text=992" media="--large"/>
                            <source data-srcset="//placehold.co/450x328/3e6f71/ffffff.webp?text=1400"
                                    media="--x-large"/>
                            <source data-srcset="//placehold.co/315x230/3e6f71/ffffff.webp?text=1600"
                                    media="--xx-large"/>
                            <!--[if IE 9]></video><![endif]-->
                            <img
                                    class="l-responsive-img l-reading-post-slide-img ui-reading-post-slide-img lazyload"
                                    width="388"
                                    height="283"
                                    data-expand="-20"
                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                    data-src="//placehold.co/480x300/103e3e/ffffff.webp"
                                    alt="Reading Post 1"
                            />
                        </picture>
                    </div>
                    <h3 class="title">ACCENT CHAIRS</h3>
                    <span class="l-container">
                        <span class="l-flex-row">
                            <span class="l-flex-col-6">
                                <p class="count">( 15 Product )</p>
                            </span>
                            <span class="l-flex-col-6 actions">
                                <span class="action">
                                    See more
                                    <svg width="7" height="11" viewBox="0 0 7 11" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6.70678 6.14819L1.70714 10.7314C1.51216 10.9102 1.25619 11 1.00018 11C0.744213 11 0.488202 10.9102 0.293216 10.7314C-0.0977389 10.373 -0.0977389 9.79368 0.293216 9.43528L4.58594 5.5001L0.293263 1.56492C-0.097692 1.20653 -0.0976919 0.627192 0.293263 0.268797C0.684218 -0.0895989 1.31619 -0.0895989 1.70714 0.268797L6.70678 4.85206C7.09774 5.21045 7.09774 5.78975 6.70678 6.14819Z"
                                              fill="#79BBC3"/>
                                    </svg>
                                </span>
                            </span>
                        </span>
                    </span>
                </a>
            </div>
            <div class="l-flex-col-lg-4 l-flex-col-md-6">
                <a href="#" class="category-card">
                    <div class="img">
                        <img src="http://placehold.jp/1500x1500.png"/>
                    </div>
                    <h3 class="title">ACCENT CHAIRS</h3>
                    <span class="l-container">
                        <span class="l-flex-row">
                            <span class="l-flex-col-6">
                                <p class="count">( 15 Product )</p>
                            </span>
                            <span class="l-flex-col-6 actions">
                                <span class="action">
                                    See more
                                    <svg width="7" height="11" viewBox="0 0 7 11" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6.70678 6.14819L1.70714 10.7314C1.51216 10.9102 1.25619 11 1.00018 11C0.744213 11 0.488202 10.9102 0.293216 10.7314C-0.0977389 10.373 -0.0977389 9.79368 0.293216 9.43528L4.58594 5.5001L0.293263 1.56492C-0.097692 1.20653 -0.0976919 0.627192 0.293263 0.268797C0.684218 -0.0895989 1.31619 -0.0895989 1.70714 0.268797L6.70678 4.85206C7.09774 5.21045 7.09774 5.78975 6.70678 6.14819Z"
                                              fill="#79BBC3"/>
                                    </svg>
                                </span>
                            </span>
                        </span>
                    </span>
                </a>
            </div>
            <div class="l-flex-col-lg-4 l-flex-col-md-6">
                <a href="#" class="category-card">
                    <div class="img">
                        <img src="http://placehold.jp/1500x1500.png"/>
                    </div>
                    <h3 class="title">ACCENT CHAIRS</h3>
                    <span class="l-container">
                        <span class="l-flex-row">
                            <span class="l-flex-col-6">
                                <p class="count">( 15 Product )</p>
                            </span>
                            <span class="l-flex-col-6 actions">
                                <span class="action">
                                    See more
                                    <svg width="7" height="11" viewBox="0 0 7 11" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6.70678 6.14819L1.70714 10.7314C1.51216 10.9102 1.25619 11 1.00018 11C0.744213 11 0.488202 10.9102 0.293216 10.7314C-0.0977389 10.373 -0.0977389 9.79368 0.293216 9.43528L4.58594 5.5001L0.293263 1.56492C-0.097692 1.20653 -0.0976919 0.627192 0.293263 0.268797C0.684218 -0.0895989 1.31619 -0.0895989 1.70714 0.268797L6.70678 4.85206C7.09774 5.21045 7.09774 5.78975 6.70678 6.14819Z"
                                              fill="#79BBC3"/>
                                    </svg>
                                </span>
                            </span>
                        </span>
                    </span>
                </a>
            </div>
            <div class="l-flex-col-lg-4 l-flex-col-md-6">
                <a href="#" class="category-card">
                    <div class="img">
                        <img src="http://placehold.jp/1500x1500.png"/>
                    </div>
                    <h3 class="title">ACCENT CHAIRS</h3>
                    <span class="l-container">
                        <span class="l-flex-row">
                            <span class="l-flex-col-6">
                                <p class="count">( 15 Product )</p>
                            </span>
                            <span class="l-flex-col-6 actions">
                                <span class="action">
                                    See more
                                    <svg width="7" height="11" viewBox="0 0 7 11" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6.70678 6.14819L1.70714 10.7314C1.51216 10.9102 1.25619 11 1.00018 11C0.744213 11 0.488202 10.9102 0.293216 10.7314C-0.0977389 10.373 -0.0977389 9.79368 0.293216 9.43528L4.58594 5.5001L0.293263 1.56492C-0.097692 1.20653 -0.0976919 0.627192 0.293263 0.268797C0.684218 -0.0895989 1.31619 -0.0895989 1.70714 0.268797L6.70678 4.85206C7.09774 5.21045 7.09774 5.78975 6.70678 6.14819Z"
                                              fill="#79BBC3"/>
                                    </svg>
                                </span>
                            </span>
                        </span>
                    </span>
                </a>
            </div>
            <div class="l-flex-col-lg-4 l-flex-col-md-6">
                <a href="#" class="category-card">
                    <div class="img">
                        <img src="http://placehold.jp/1500x1500.png"/>
                    </div>
                    <h3 class="title">ACCENT CHAIRS</h3>
                    <span class="l-container">
                        <span class="l-flex-row">
                            <span class="l-flex-col-6">
                                <p class="count">( 15 Product )</p>
                            </span>
                            <span class="l-flex-col-6 actions">
                                <span class="action">
                                    See more
                                    <svg width="7" height="11" viewBox="0 0 7 11" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6.70678 6.14819L1.70714 10.7314C1.51216 10.9102 1.25619 11 1.00018 11C0.744213 11 0.488202 10.9102 0.293216 10.7314C-0.0977389 10.373 -0.0977389 9.79368 0.293216 9.43528L4.58594 5.5001L0.293263 1.56492C-0.097692 1.20653 -0.0976919 0.627192 0.293263 0.268797C0.684218 -0.0895989 1.31619 -0.0895989 1.70714 0.268797L6.70678 4.85206C7.09774 5.21045 7.09774 5.78975 6.70678 6.14819Z"
                                              fill="#79BBC3"/>
                                    </svg>
                                </span>
                            </span>
                        </span>
                    </span>
                </a>
            </div>
            <div class="l-flex-col-lg-4 l-flex-col-md-6">
                <a href="#" class="category-card">
                    <div class="img">
                        <img src="http://placehold.jp/1500x1500.png"/>
                    </div>
                    <h3 class="title">ACCENT CHAIRS</h3>
                    <span class="l-container">
                        <span class="l-flex-row">
                            <span class="l-flex-col-6">
                                <p class="count">( 15 Product )</p>
                            </span>
                            <span class="l-flex-col-6 actions">
                                <span class="action">
                                    See more
                                    <svg width="7" height="11" viewBox="0 0 7 11" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6.70678 6.14819L1.70714 10.7314C1.51216 10.9102 1.25619 11 1.00018 11C0.744213 11 0.488202 10.9102 0.293216 10.7314C-0.0977389 10.373 -0.0977389 9.79368 0.293216 9.43528L4.58594 5.5001L0.293263 1.56492C-0.097692 1.20653 -0.0976919 0.627192 0.293263 0.268797C0.684218 -0.0895989 1.31619 -0.0895989 1.70714 0.268797L6.70678 4.85206C7.09774 5.21045 7.09774 5.78975 6.70678 6.14819Z"
                                              fill="#79BBC3"/>
                                    </svg>
                                </span>
                            </span>
                        </span>
                    </span>
                </a>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>

    <div class="l-pagination ui-pagination">
        <a href="#" class="ui-pagination-item l-pagination-item disabled" aria-label="Perv"
           data-l-product-list-grid-pagination-item="true">
            <svg width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.1602 1.41L9.58016 6L14.1602 10.59L12.7502 12L6.75016 6L12.7502 0L14.1602 1.41Z"
                      fill="#C4CDD5"/>
                <path d="M8.16016 1.41L3.58016 6L8.16016 10.59L6.75016 12L0.750156 6L6.75016 0L8.16016 1.41Z"
                      fill="#C4CDD5"/>
            </svg>
        </a>
        <a href="#" class="ui-pagination-item l-pagination-item disabled" aria-label="Perv"
           data-l-product-list-grid-pagination-item="true">
            <svg width="9" height="12" viewBox="0 0 9 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.16016 1.41L3.58016 6L8.16016 10.59L6.75016 12L0.750156 6L6.75016 0L8.16016 1.41Z"
                      fill="#C4CDD5"/>
            </svg>
        </a>
        <a href="#" class="ui-pagination-item l-pagination-item active" aria-label="Page 1"
           data-l-product-list-grid-pagination-item="true">
            1
        </a>
        <a href="#" class="ui-pagination-item l-pagination-item" aria-label="Page 2"
           data-l-product-list-grid-pagination-item="true">
            2
        </a>
        <a href="#" class="ui-pagination-item l-pagination-item" aria-label="Page 3"
           data-l-product-list-grid-pagination-item="true">
            3
        </a>
        <a href="#" class="ui-pagination-item l-pagination-item" aria-label="Page 4"
           data-l-product-list-grid-pagination-item="true">
            4
        </a>
        <a href="#" class="ui-pagination-item l-pagination-item" aria-label="Page 4"
           data-l-product-list-grid-pagination-item="true">
            5
        </a>
        <a href="#" class="ui-pagination-item l-pagination-item" aria-label="Next"
           data-l-product-list-grid-pagination-item="true">
            <svg xmlns="http://www.w3.org/2000/svg" width="13.41" height="12" viewBox="0 0 13.41 12">
                <g transform="translate(14.16 12) rotate(180)">
                    <path d="M14.16,1.41,9.58,6l4.58,4.59L12.75,12l-6-6,6-6Z" fill="#C4CDD5"/>
                    <path d="M8.16,1.41,3.58,6l4.58,4.59L6.75,12l-6-6,6-6Z" fill="#c4cdd5"/>
                </g>
            </svg>
        </a>
        <a href="#" class="ui-pagination-item l-pagination-item" aria-label="Next"
           data-l-product-list-grid-pagination-item="true">
            <svg width="9" height="12" viewBox="0 0 9 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.839844 1.41L5.41984 6L0.839844 10.59L2.24984 12L8.24984 6L2.24984 0L0.839844 1.41Z"
                      fill="#C4CDD5"/>
            </svg>
        </a>
    </div>

</div>