<div class="l-flex-row">
    <div class="l-flex-col-lg-6">
       <table class="ui-striped-table l-striped-table">
          <tbody>
             <tr>
                <td>Audio Jack</td>
                <td>3.5 mm</td>
             </tr>
             <tr>
                <td>Battery Size</td>
                <td>5000 mAh</td>
             </tr>
             <tr>
                <td>Battery Type</td>
                <td>Lithium Polymer</td>
             </tr>
             <tr>
                <td>Camera Type</td>
                <td>Primary Camera + Secondary Camera</td>
             </tr>
             <tr>
                <td>Charging Type</td>
                <td>Lightning to USB</td>
             </tr>
             <tr>
                <td>Colour Name</td>
                <td>Black</td>
             </tr>
             <tr>
                <td>Country of Origin</td>
                <td>China</td>
             </tr>
             <tr>
                <td>Display Resolution</td>
                <td>720x1600</td>
             </tr>
             <tr>
                <td>Display Resolution Type</td>
                <td>HD</td>
             </tr>
             <tr>
                <td>Network</td>
                <td>4G</td>
             </tr>
             <tr>
                <td>Expandable Memory Type</td>
                <td>MicroSD</td>
             </tr>
             <tr>
                <td>Fast Charging</td>
                <td>Yes</td>
             </tr>
             <tr>
                <td>Flash</td>
                <td>LED</td>
             </tr>
             <tr>
                <td>Internal Memory</td>
                <td>32 GB</td>
             </tr>
             <tr>
                <td>Maximum Expandable Memory</td>
                <td>128 GB</td>
             </tr>
             <tr>
                <td>Model Name</td>
                <td><a href="#" class="special">Smart 6s</a></td>
             </tr>
             <tr>
                <td>Model Number</td>
                <td><a href="#">X6511B</a></td>
             </tr>
             <tr>
                <td>Model Year</td>
                <td>2021</td>
             </tr>
          </tbody>
       </table>
    </div>
    <div class="l-flex-col-lg-6">
        <table class="ui-striped-table l-striped-table">
           <tbody>
              <tr>
                 <td>Audio Jack</td>
                 <td>3.5 mm</td>
              </tr>
              <tr>
                 <td>Battery Size</td>
                 <td>5000 mAh</td>
              </tr>
              <tr>
                 <td>Battery Type</td>
                 <td>Lithium Polymer</td>
              </tr>
              <tr>
                 <td>Camera Type</td>
                 <td>Primary Camera + Secondary Camera</td>
              </tr>
              <tr>
                 <td>Charging Type</td>
                 <td>Lightning to USB</td>
              </tr>
              <tr>
                 <td>Colour Name</td>
                 <td>Black</td>
              </tr>
              <tr>
                 <td>Country of Origin</td>
                 <td>China</td>
              </tr>
              <tr>
                 <td>Display Resolution</td>
                 <td>720x1600</td>
              </tr>
              <tr>
                 <td>Display Resolution Type</td>
                 <td>HD</td>
              </tr>
              <tr>
                 <td>Network</td>
                 <td>4G</td>
              </tr>
              <tr>
                 <td>Expandable Memory Type</td>
                 <td>MicroSD</td>
              </tr>
              <tr>
                 <td>Fast Charging</td>
                 <td>Yes</td>
              </tr>
              <tr>
                 <td>Flash</td>
                 <td>LED</td>
              </tr>
              <tr>
                 <td>Internal Memory</td>
                 <td>32 GB</td>
              </tr>
              <tr>
                 <td>Maximum Expandable Memory</td>
                 <td>128 GB</td>
              </tr>
              <tr>
                 <td>Model Name</td>
                 <td><a href="#" class="special">Smart 6s</a></td>
              </tr>
              <tr>
                 <td>Model Number</td>
                 <td><a href="#">X6511B</a></td>
              </tr>
              <tr>
                 <td>Model Year</td>
                 <td>2021</td>
              </tr>
           </tbody>
        </table>
    </div>
</div>