<div class="ui-editor-content-box">
    <h2>Professional Set: Rotary Hammer GBH 2-26 F + 5 pcs SDS plus-5 hammer bit set in L-Case</h2>
    <p>&nbsp;</p>
    <ul>
        <li>SKU 0611.2A4.001-UUU</li>
        <li>Improved performance for a fast drilling rate and high chiselling removal rate</li>
        <li>Reliable and robust with long lifetime due to high-quality components</li>
        <li>Wide range of applications for drilling, hammer drilling and chiselling</li>
    </ul>
    <p>&nbsp;</p>
    <p>Infinix Mobile is a Hong Kong-based smartphone company founded in 2013 by Transsion Holdings. Infinix mobile phones are manufactured in France, India, Korea, China, Pakistan and are available in Asia and in about 30 countries in the Middle East and Africa, including Morocco, Kenya, Nigeria, Egypt, Iran, Iraq, Cameroon and Algeria. The company has research and development centres sprawling between France and Korea and designs its phones in France. Infinix Mobile became the first smartphone brand manufacturing in Pakistan. In 2017, Infinix Mobile gained market shares in Egypt, rising to third place after Samsung and Huawei. On 8 May 2018, Infinix Mobile Nigeria signed an endorsement deal with David Adedeji Adeleke (Davido) as the 2018 Nigerian Mobile Brand Ambassador. On 25 June 2020, Infinix Mobility announced the first range of smart TVs to the Nigerian electronics market.</p>
</div>