<div class="l-featured-full-width-banner-section">
    <div class="l-container l-container--phone-spacing">
        <a class="l-featured-full-width-banner-section-banner" href="#">
            <!--One Banner 2 - DONE -->
            <picture>
                <!--[if IE 9]><video style="display: none;><![endif]-->
                <source
                        data-srcset="//placehold.co/559x165/3e6f71/ffffff.webp?text=576"
                        media="--small" />
                <source
                        data-srcset="//placehold.co/450x133/3e6f71/ffffff.webp?text=768"
                        media="--medium" />
                <source
                        data-srcset="//placehold.co/720x213/3e6f71/ffffff.webp?text=992"
                        media="--large" />
                <source
                        data-srcset="//placehold.co/1190x352/3e6f71/ffffff.webp?text=1400"
                        media="--x-large" />
                <!--[if IE 9]></video><![endif]-->
                <img
                        class="l-featured-full-width-banner-section-banner-img lazyload"
                        width="1612"
                        height="477"
                        data-expand="-20"
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-src="/assets/img/demo/full-banner.webp"
                        alt="New Collection"
                />
            </picture>
        </a>
    </div>
</div>