<div class="ui-featured-reviews-section">
    <div class="l-container l-container--phone-spacing">
        <div class="ui-featured-reviews-section-body">
            <div class="l-flex-row">
                <div class="l-flex-col-lg-8">
                    <blockquote class="l-featured-reviews-section-blockquote ui-featured-reviews-section-blockquote">
                        We are <strong>happy</strong> you are going forward with our website, and <strong>we’d love to hear your opinion</strong> about it, so feel free.
                    </blockquote>
                </div>
                <div class="l-flex-col-lg-4">
                    <div class="l-featured-reviews-section-blockquote-img">
                        <% include ../_components/icons/review.svg.ejs %>
                    </div>
                </div>
            </div>
            <div class="l-flex-row l-flex-row--spacing-5">
                <div class="l-flex-col-lg-7">
                    <div class="l-flex-row">
                        <div class="l-flex-col-lg-4">
                            <article class="ui-product-slide ui-product-slide--spacing-x-7">
                                <div class="l-product-slide-header l-product-slide-header--img-full-width ui-product-slide-header">
                                    <a class="l-product-slide-img-link l-product-slide-img-link--align-center ui-product-slide-img-link ui-product-slide-img-link--full-width" href="#">
                                        <img
                                            class="l-product-slide-img ui-product-slide-img ui-product-slide-img--full-width l-product-slide-img--full-width lazyload"
                                            width="146"
                                            height="146"
                                            data-expand="-20"
                                            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                            data-src="https://i.ibb.co/pfn9vxH/Rectangle-2117.png"
                                            alt="Item tool description example description two"
                                        />
                                    </a>
                                </div>
                                <a href="#" class="l-product-slide-body l-product-slide-body--height-sm ui-product-slide-body">
                                    Item tool description example description two
                                </a>
                                <div class="l-product-slide-footer ui-product-slide-footer">
                                    <div class="l-product-slide-meta l-product-slide-meta--spacing-0">
                                        <div>
                                            <a href="#" class="ui-product-slide-price-container">
                                                <p class="l-product-slide-price ui-product-slide-price">4,000 EGP</p>
                                            </a>
                                        </div>
                                        <div>
                                            <a class="l-product-slide-rating-container ui-product-slide-rating-container" data-tooltip="true" data-tippy-content="Ratings" title="Ratings" href="#">
                                                <span class="l-product-slide-rating ui-product-slide-rating">
                                                    <%# include ../_components/icons/star.svg.ejs %>
                                                    <span>3.7</span>
                                                </span>
                                                <span class="ui-product-slide-rating-count">(3)</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="l-flex-col-lg-8">
                            <h5 class="ui-featured-reviews-section-title l-featured-reviews-section-title">Review Your Last order</h5>
                            <div class="ui-featured-reviews-section-content">
                                <p class="ui-featured-reviews-section-rating-form-text l-featured-reviews-section-rating-form-text">Overall rating</p>
                                <form action="" method="post">
                                    <div class="l-form-rate ui-form-rate l-featured-reviews-section-rating-form-rating-container" data-ui-form-rate="true">
                                        <input type="radio" name="rating" id="rating-5" class="l-form-rate-input" data-ui-form-rate-input="rating-5">
                                        <label for="rating-5" class="l-form-rate-label ui-form-rate-label" data-ui-form-rate-label="rating-5"></label>
                                        <input type="radio" name="rating" id="rating-4" class="l-form-rate-input" data-ui-form-rate-input="rating-4">
                                        <label for="rating-4" class="l-form-rate-label ui-form-rate-label" data-ui-form-rate-label="rating-4"></label>
                                        <input type="radio" name="rating" id="rating-3" class="l-form-rate-input" data-ui-form-rate-input="rating-3">
                                        <label for="rating-3" class="l-form-rate-label ui-form-rate-label" data-ui-form-rate-label="rating-3"></label>
                                        <input type="radio" name="rating" id="rating-2" class="l-form-rate-input" data-ui-form-rate-input="rating-2">
                                        <label for="rating-2" class="l-form-rate-label ui-form-rate-label" data-ui-form-rate-label="rating-2"></label>
                                        <input type="radio" name="rating" id="rating-1" class="l-form-rate-input" data-ui-form-rate-input="rating-1">
                                        <label for="rating-1" class="l-form-rate-label ui-form-rate-label" data-ui-form-rate-label="rating-1"></label>
                                    </div>
                                    <p class="ui-featured-reviews-section-rating-form-text l-featured-reviews-section-rating-form-text">Add a written review  ( optional )</p>
                                    <textarea class="ui-form-textarea l-form-textarea" name="review" cols="30" rows="5" placeholder="what do you like or dislike about the order"></textarea>
                                    <div class="l-featured-reviews-section-rating-form-footer">
                                        <button class="ui-form-submit" type="submit">Submit</button>
                                        <a class="l-featured-reviews-section-rating-form-footer-action ui-featured-reviews-section-rating-form-footer-action" href="#">
                                            <span>Rate All</span>
                                            <span class="l-featured-reviews-section-rating-form-footer-action-icon">
                                                <%- include ../_components/icons/arrow-right.svg.ejs %>
                                            </span>
                                        </a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="l-flex-col-lg-5">
                    <div class="l-featured-reviews-section-last-order-products-section-container-box ui-featured-reviews-section-last-order-products-section-container-box">
                        <h5 class="ui-featured-reviews-section-title l-featured-reviews-section-title">Based on Last Order</h5>
                        <div class="l-container l-container--phone-spacing l-container--position-relative ui-featured-reviews-section-last-order-products-section-container">
                            <div class="swiper l-slider-row" data-l-slider="featured-reviews-section-last-order">
                                <div class="l-flex-row l-flex-row--nowrap l-flex-row--spacing-0 swiper-wrapper">
                                    <% for(var i = 1; i < 10; i++) { %>
                                    <div class="l-flex-col-lg-6 swiper-slide">
                                        <article class="ui-product-slide ui-product-slide--spacing-x-7">
                                            <div class="l-product-slide-header l-product-slide-header--img-full-width-sm ui-product-slide-header">
                                                <a class="l-product-slide-img-link l-product-slide-img-link--align-center ui-product-slide-img-link ui-product-slide-img-link--full-width-sm" href="#">
                                                    <img
                                                        class="l-product-slide-img ui-product-slide-img ui-product-slide-img--full-width-sm l-product-slide-img--full-width lazyload"
                                                        width="146"
                                                        height="146"
                                                        data-expand="-20"
                                                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                                        data-src="https://i.ibb.co/89tb7qN/Rectangle-21172.webp"
                                                        alt="Item tool description example description two"
                                                    />
                                                </a>
                                            </div>
                                            <a href="#" class="l-product-slide-body l-product-slide-body--height-sm ui-product-slide-body">
                                                Item tool description example description two
                                            </a>
                                            <div class="l-product-slide-footer ui-product-slide-footer ui-product-slide-footer--full-width-sm">
                                                <div class="l-product-slide-meta l-product-slide-meta--spacing-0">
                                                    <div>
                                                        <a href="#" class="ui-product-slide-price-container">
                                                            <p class="l-product-slide-price ui-product-slide-price">4,000 EGP</p>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <% } %>
                                </div>
                            </div>
                            <div class="swiper-pagination" data-l-slider-pagination="featured-reviews-section-last-order"></div>
                            <div class="swiper-button-prev" data-l-slider-navigation-prev="featured-reviews-section-last-order"></div>
                            <div class="swiper-button-next" data-l-slider-navigation-next="featured-reviews-section-last-order"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>