<%- include ../_components/main/header/header.ejs %>
<%- include ../_components/main/body/body-header.ejs %>
<link rel="stylesheet" href="/pages-assets/profile-edit-profile/profile-edit-profile.styles.css">

<div class="wrapper-featured-section">
    <div class="l-featured-section ui-featured-section--spacing-bottom-0 ui-featured-section lazyload" data-bg="/assets/img/featured-section-bg.webp" data-delay="5000">
        <div class="l-featured-section-content">
            <div class="l-container">
                <div class="l-flex-row">
                    <div class="l-flex-col-lg-2"></div>
                    <div class="l-flex-col-lg-8">
                        <div class="l-featured-section-content-box">
                            <div class="l-page-title-box">
                            </div>
                        </div>
                    </div>
                    <div class="l-flex-col-lg-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper-profile">
    <div class="l-container">
        <div class="l-flex-row">
            <div class="l-flex-col-xl-3 wrapper-profile-sidebar" data-profile-sidebar="true">
                <h2 class="title">Hello, Mark!</h2>
                <p class="subtitle">markhxh@gmail.com</p>
                <div class="separator"></div>
                <ul class="tabs">
                    <li>
                        <a class="tab active" href="#" data-profile-sidebar-btn="true">
                            <i class="icon">
                                <svg width="27" height="29" viewBox="0 0 27 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4.64844 8.09107C4.64844 3.98139 7.98334 0.646484 12.093 0.646484C13.7845 0.646484 15.3372 1.19709 16.5915 2.1528C17.0181 2.47781 17.1005 3.08709 16.7755 3.51367C16.4504 3.94025 15.8411 4.02258 15.4146 3.69757C14.4938 2.99606 13.3534 2.58855 12.093 2.58855C9.05592 2.58855 6.5905 5.05395 6.5905 8.09107C6.5905 11.1282 9.05592 13.5936 12.093 13.5936C15.1302 13.5936 17.5956 11.1282 17.5956 8.09107C17.5956 7.55478 18.0303 7.12003 18.5666 7.12003C19.1029 7.12003 19.5376 7.55478 19.5376 8.09107C19.5376 12.2007 16.2027 15.5356 12.093 15.5356C7.98334 15.5356 4.64844 12.2007 4.64844 8.09107Z" fill="#3F3F3F"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M22.6262 17.7058C23.4849 17.6176 24.275 18.0033 24.9787 18.707C25.6864 19.4147 26.0766 20.2064 25.9914 21.0671C25.9114 21.8766 25.4288 22.5044 24.9787 22.9545L20.4053 27.5278C20.2155 27.7268 19.9819 27.8715 19.7902 27.9673C19.5885 28.0681 19.3431 28.1597 19.0963 28.1986L19.0803 28.2012L17.3344 28.4468C17.3341 28.4468 17.3347 28.4467 17.3344 28.4468C16.7627 28.5281 16.1725 28.378 15.7465 27.952C15.3207 27.5262 15.1703 26.9369 15.2517 26.3653C15.2516 26.3656 15.2517 26.3649 15.2517 26.3653L15.4998 24.6022C15.5394 24.3514 15.633 24.1077 15.7335 23.9091C15.8338 23.7107 15.9766 23.4874 16.1608 23.3032L20.7442 18.7199C21.1943 18.2698 21.8208 17.7887 22.6262 17.7058ZM22.8247 19.6378C22.685 19.6521 22.4571 19.7535 22.1174 20.0931L17.5358 24.6748C17.5352 24.6756 17.5279 24.6838 17.5159 24.7014C17.5005 24.7236 17.4831 24.7526 17.4663 24.7859C17.4496 24.8191 17.4364 24.8504 17.4274 24.876C17.4219 24.8921 17.4192 24.9022 17.4183 24.9061L17.1931 26.5054L18.7935 26.2803C18.7976 26.2792 18.8094 26.2763 18.8286 26.2696C18.8563 26.2602 18.8888 26.2467 18.9218 26.2302C18.9551 26.2136 18.9815 26.1975 18.9991 26.1852C19.0032 26.1824 19.0062 26.1802 19.0084 26.1785C19.0129 26.1738 19.0176 26.1692 19.0221 26.1645L23.6054 21.5812C23.9451 21.2415 24.0451 21.0149 24.0588 20.8759C24.0675 20.7882 24.063 20.5377 23.6054 20.0802C23.1568 19.6315 22.9112 19.6288 22.8247 19.6378Z" fill="#3F3F3F"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20.5005 19.1314C21.0172 18.9878 21.5524 19.2904 21.6959 19.8071C21.9931 20.8772 22.8243 21.7083 23.8944 22.0055C24.4111 22.1491 24.7137 22.6843 24.5701 23.2011C24.4265 23.7178 23.8913 24.0203 23.3746 23.8768C21.6482 23.3972 20.3043 22.0533 19.8248 20.3268C19.6812 19.8101 19.9837 19.2748 20.5005 19.1314Z" fill="#3F3F3F"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.0926 19.4206C6.29603 19.4206 1.94206 23.2152 1.94206 27.5125C1.94206 28.0488 1.50731 28.4835 0.971032 28.4835C0.434738 28.4835 0 28.0488 0 27.5125C0 21.7887 5.61535 17.4785 12.0926 17.4785C13.5325 17.4785 14.9215 17.6862 16.2178 18.0764C16.7313 18.2311 17.0222 18.7727 16.8677 19.2862C16.7131 19.7997 16.1715 20.0907 15.6579 19.936C14.5461 19.6013 13.3458 19.4206 12.0926 19.4206Z" fill="#3F3F3F"/>
                                </svg>
                            </i>
                            <span>
                                Edit Profile
                            </span>
                            <div class="chevron">
                                <svg width="9" height="15" viewBox="0 0 9 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.48034 7.50009C8.48034 7.75099 8.38454 8.00187 8.19334 8.19316L2.17363 14.2128C1.7907 14.5957 1.16985 14.5957 0.78708 14.2128C0.404307 13.83 0.404307 13.2093 0.78708 12.8263L6.11365 7.50009L0.787267 2.17379C0.404494 1.79087 0.404495 1.1702 0.787268 0.787459C1.17004 0.404346 1.79089 0.404346 2.17382 0.78746L8.19353 6.80701C8.38476 6.9984 8.48034 7.24927 8.48034 7.50009Z" fill="#B6B4BA"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.14087 13.1799C0.953291 13.3677 0.953446 13.6719 1.14088 13.8593C1.32833 14.0468 1.63262 14.047 1.82032 13.8593L7.83994 7.83973C7.83991 7.83976 7.83997 7.8397 7.83994 7.83973C7.93367 7.74591 7.98059 7.62374 7.98059 7.50012C7.98059 7.37638 7.93383 7.25437 7.84022 7.1606M7.84022 7.1606L1.82052 1.14105C1.63283 0.953277 1.32866 0.953289 1.14122 1.14089C0.953803 1.3283 0.953483 1.63254 1.14106 1.82027C1.14109 1.8203 1.14104 1.82025 1.14106 1.82027L6.82101 7.50013L1.14087 13.1799C1.14084 13.18 1.1409 13.1799 1.14087 13.1799M0.433699 14.5663C-0.144312 13.9882 -0.144165 13.051 0.433685 12.4729L5.40677 7.50011L0.433961 2.52739C-0.143874 1.94932 -0.144129 1.01217 0.433801 0.434099M0.433699 14.5663C1.0118 15.1446 1.9493 15.1445 2.52743 14.5664C2.52743 14.5664 2.52743 14.5664 2.52743 14.5664L8.54713 8.54675C8.83575 8.258 8.98059 7.87827 8.98059 7.50012C8.98059 7.1223 8.83622 6.74262 8.54747 6.45364L2.5277 0.434028C2.52773 0.434059 2.52767 0.433997 2.5277 0.434028C1.94958 -0.144275 1.0119 -0.144323 0.433801 0.434099M0.433699 14.5663C0.433723 14.5663 0.433675 14.5663 0.433699 14.5663V14.5663Z" fill="#B6B4BA"/>
                                </svg>
                            </div>
                        </a>
                        <a class="tab" href="#" data-profile-sidebar-btn="true">
                            <i class="icon">
                                <svg width="26" height="29" viewBox="0 0 26 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M19.555 4.04878V13.6058H24.3474V4.04878C24.3474 2.73284 23.2674 1.65259 21.9512 1.65259C20.635 1.65259 19.555 2.73262 19.555 4.04878ZM7.76896 8.22004C7.44643 7.89751 7.44643 7.37438 7.76896 7.05185C8.09171 6.72899 8.61484 6.72899 8.9377 7.05185L9.39044 7.50469L10.8534 6.042C9.83545 5.2546 8.39041 5.3485 7.48119 6.2575C6.48237 7.25642 6.48237 8.87591 7.48119 9.87495C8.47989 10.8738 10.0996 10.8738 11.0983 9.87495C11.7212 9.25229 11.99 8.34042 11.7745 7.45735L9.97481 9.25736C9.65195 9.57978 9.12882 9.57978 8.80629 9.25736L7.76896 8.22004ZM12.0275 4.86774L13.0649 3.83019C13.3875 3.50766 13.9107 3.50766 14.2333 3.83019C14.5558 4.15294 14.5558 4.67607 14.2333 4.9986L13.0536 6.17816C13.8712 7.8046 13.5439 9.76626 12.2668 11.0431C10.6224 12.6877 7.9572 12.6877 6.31267 11.0431C4.66857 9.39904 4.66857 6.73351 6.31267 5.08919C7.86761 3.53425 10.3576 3.43704 12.0275 4.86774ZM4.13132 22.1441C3.67483 22.1441 3.30496 22.5141 3.30496 22.9704C3.30496 23.4267 3.67483 23.7967 4.13132 23.7967C4.58758 23.7967 4.95767 23.4267 4.95767 22.9704C4.95767 22.5141 4.58758 22.1441 4.13132 22.1441ZM7.43639 23.7967C6.97979 23.7967 6.61015 23.4267 6.61015 22.9704C6.61015 22.5141 6.97979 22.1441 7.43639 22.1441H15.4237C15.88 22.1441 16.25 22.5141 16.25 22.9704C16.25 23.4267 15.88 23.7967 15.4237 23.7967H7.43639ZM4.13132 18.8391C3.67483 18.8391 3.30496 19.2089 3.30496 19.6654C3.30496 20.1216 3.67483 20.4916 4.13132 20.4916C4.58758 20.4916 4.95767 20.1216 4.95767 19.6654C4.95767 19.2089 4.58758 18.8391 4.13132 18.8391ZM7.43639 20.4916C6.97979 20.4916 6.61015 20.1216 6.61015 19.6654C6.61015 19.2089 6.97979 18.8391 7.43639 18.8391H15.4237C15.88 18.8391 16.25 19.2089 16.25 19.6654C16.25 20.1216 15.88 20.4916 15.4237 20.4916H7.43639ZM19.555 15.2584V27.3772C19.555 27.8336 19.1852 28.2034 18.7288 28.2034H0.826241C0.369646 28.2034 0 27.8336 0 27.3772V3.96613C0 1.7807 1.78037 0 3.96613 0H21.9512C24.1797 0 26 1.82042 26 4.04878V14.4321C26 14.8884 25.63 15.2584 25.1736 15.2584H19.555ZM18.6919 1.65259C18.1964 2.32424 17.9025 3.15369 17.9025 4.04878V26.5509H1.65248V3.96613C1.65248 2.69301 2.69279 1.65259 3.96613 1.65259H18.6919ZM4.13132 15.5339C3.67483 15.5339 3.30496 15.9039 3.30496 16.3602C3.30496 16.8166 3.67483 17.1865 4.13132 17.1865C4.58758 17.1865 4.95767 16.8166 4.95767 16.3602C4.95767 15.9039 4.58758 15.5339 4.13132 15.5339ZM7.43639 17.1865H15.4237C15.88 17.1865 16.25 16.8166 16.25 16.3602C16.25 15.9039 15.88 15.5339 15.4237 15.5339H7.43639C6.97979 15.5339 6.61015 15.9039 6.61015 16.3602C6.61015 16.8166 6.97979 17.1865 7.43639 17.1865Z" fill="#686868"/>
                                </svg>
                            </i>
                            <span>
                                My Orders
                            </span>
                            <div class="chevron">
                                <svg width="9" height="15" viewBox="0 0 9 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.48034 7.50009C8.48034 7.75099 8.38454 8.00187 8.19334 8.19316L2.17363 14.2128C1.7907 14.5957 1.16985 14.5957 0.78708 14.2128C0.404307 13.83 0.404307 13.2093 0.78708 12.8263L6.11365 7.50009L0.787267 2.17379C0.404494 1.79087 0.404495 1.1702 0.787268 0.787459C1.17004 0.404346 1.79089 0.404346 2.17382 0.78746L8.19353 6.80701C8.38476 6.9984 8.48034 7.24927 8.48034 7.50009Z" fill="#B6B4BA"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.14087 13.1799C0.953291 13.3677 0.953446 13.6719 1.14088 13.8593C1.32833 14.0468 1.63262 14.047 1.82032 13.8593L7.83994 7.83973C7.83991 7.83976 7.83997 7.8397 7.83994 7.83973C7.93367 7.74591 7.98059 7.62374 7.98059 7.50012C7.98059 7.37638 7.93383 7.25437 7.84022 7.1606M7.84022 7.1606L1.82052 1.14105C1.63283 0.953277 1.32866 0.953289 1.14122 1.14089C0.953803 1.3283 0.953483 1.63254 1.14106 1.82027C1.14109 1.8203 1.14104 1.82025 1.14106 1.82027L6.82101 7.50013L1.14087 13.1799C1.14084 13.18 1.1409 13.1799 1.14087 13.1799M0.433699 14.5663C-0.144312 13.9882 -0.144165 13.051 0.433685 12.4729L5.40677 7.50011L0.433961 2.52739C-0.143874 1.94932 -0.144129 1.01217 0.433801 0.434099M0.433699 14.5663C1.0118 15.1446 1.9493 15.1445 2.52743 14.5664C2.52743 14.5664 2.52743 14.5664 2.52743 14.5664L8.54713 8.54675C8.83575 8.258 8.98059 7.87827 8.98059 7.50012C8.98059 7.1223 8.83622 6.74262 8.54747 6.45364L2.5277 0.434028C2.52773 0.434059 2.52767 0.433997 2.5277 0.434028C1.94958 -0.144275 1.0119 -0.144323 0.433801 0.434099M0.433699 14.5663C0.433723 14.5663 0.433675 14.5663 0.433699 14.5663V14.5663Z" fill="#B6B4BA"/>
                                </svg>
                            </div>
                        </a>
                        <a class="tab" href="#" data-profile-sidebar-btn="true">
                            <i class="icon">
                                <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M6.0888 0C4.66495 0 3.48826 1.16993 3.48826 2.59378V6.92068H0.892795C-0.287701 6.89418 -0.287701 8.67862 0.892795 8.65212H3.48826V12.1167H0.892795C-0.287704 12.0902 -0.287704 13.8746 0.892795 13.8481H3.48826V17.3127H0.892795C0.862943 17.3111 0.833032 17.3111 0.803179 17.3127C-0.324446 17.3962 -0.237428 19.0775 0.892795 19.0441H3.48826V23.371C3.48826 24.7949 4.66497 25.9716 6.0888 25.9716H23.4015C24.8253 25.9716 25.9953 24.7949 25.9953 23.371V21.6379C26.1082 20.3803 24.1577 20.3803 24.2706 21.6379V23.371C24.2706 23.8656 23.8961 24.2401 23.4015 24.2401H6.0888C5.59421 24.2401 5.2197 23.8656 5.2197 23.371V2.59378C5.2197 2.09921 5.59423 1.72468 6.0888 1.72468H23.4015C23.8961 1.72468 24.2706 2.09921 24.2706 2.59378V14.7105C24.1577 15.9681 26.1082 15.9681 25.9953 14.7105V2.59378C25.9953 1.16993 24.8254 0 23.4015 0H6.0888ZM14.7409 3.45611C12.3606 3.45611 10.4157 5.40943 10.4157 7.78978C10.4157 8.8944 10.8463 9.89436 11.5334 10.6609C9.87712 11.2684 8.68258 12.848 8.68258 14.7105C8.68258 15.8659 10.4157 15.8659 10.4157 14.7105C10.4157 13.2566 11.5557 12.1167 13.0095 12.1167H16.4741C17.9279 12.1167 19.0746 13.2566 19.0746 14.7105C19.0996 15.8394 20.781 15.8394 20.806 14.7105C20.806 12.8483 19.6094 11.2703 17.9519 10.6626C18.6414 9.89584 19.0746 8.89525 19.0746 7.78978C19.0746 5.40943 17.1213 3.45611 14.7409 3.45611ZM14.7409 5.18924C16.1855 5.18924 17.3432 6.34516 17.3432 7.78978C17.3432 9.23441 16.1855 10.3853 14.7409 10.3853C13.2963 10.3853 12.1472 9.23441 12.1471 7.78978C12.1472 6.34516 13.2963 5.18924 14.7409 5.18924ZM9.46545 17.311C9.46488 17.3116 9.46432 17.3121 9.46371 17.3127C8.33609 17.3963 8.42311 19.0775 9.55333 19.0442H19.9369C21.1174 19.0707 21.1174 17.2862 19.9369 17.3127H9.55337C9.52411 17.3107 9.49476 17.3101 9.46545 17.311ZM25.1329 17.311C24.6548 17.311 24.2672 17.6986 24.2672 18.1767C24.2672 18.6549 24.6548 19.0424 25.1329 19.0424C25.6111 19.0424 25.9987 18.6549 25.9987 18.1767C25.9987 17.6986 25.6111 17.311 25.1329 17.311ZM11.1952 20.7756C10.0665 20.8582 10.1537 22.5414 11.2848 22.507H18.2055C19.3351 22.4826 19.3351 20.8 18.2055 20.7756H11.2848C11.255 20.774 11.225 20.774 11.1952 20.7756Z" fill="#686868"/>
                                </svg>
                            </i>
                            <span>
                                Address Book
                            </span>
                            <div class="chevron">
                                <svg width="9" height="15" viewBox="0 0 9 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.48034 7.50009C8.48034 7.75099 8.38454 8.00187 8.19334 8.19316L2.17363 14.2128C1.7907 14.5957 1.16985 14.5957 0.78708 14.2128C0.404307 13.83 0.404307 13.2093 0.78708 12.8263L6.11365 7.50009L0.787267 2.17379C0.404494 1.79087 0.404495 1.1702 0.787268 0.787459C1.17004 0.404346 1.79089 0.404346 2.17382 0.78746L8.19353 6.80701C8.38476 6.9984 8.48034 7.24927 8.48034 7.50009Z" fill="#B6B4BA"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.14087 13.1799C0.953291 13.3677 0.953446 13.6719 1.14088 13.8593C1.32833 14.0468 1.63262 14.047 1.82032 13.8593L7.83994 7.83973C7.83991 7.83976 7.83997 7.8397 7.83994 7.83973C7.93367 7.74591 7.98059 7.62374 7.98059 7.50012C7.98059 7.37638 7.93383 7.25437 7.84022 7.1606M7.84022 7.1606L1.82052 1.14105C1.63283 0.953277 1.32866 0.953289 1.14122 1.14089C0.953803 1.3283 0.953483 1.63254 1.14106 1.82027C1.14109 1.8203 1.14104 1.82025 1.14106 1.82027L6.82101 7.50013L1.14087 13.1799C1.14084 13.18 1.1409 13.1799 1.14087 13.1799M0.433699 14.5663C-0.144312 13.9882 -0.144165 13.051 0.433685 12.4729L5.40677 7.50011L0.433961 2.52739C-0.143874 1.94932 -0.144129 1.01217 0.433801 0.434099M0.433699 14.5663C1.0118 15.1446 1.9493 15.1445 2.52743 14.5664C2.52743 14.5664 2.52743 14.5664 2.52743 14.5664L8.54713 8.54675C8.83575 8.258 8.98059 7.87827 8.98059 7.50012C8.98059 7.1223 8.83622 6.74262 8.54747 6.45364L2.5277 0.434028C2.52773 0.434059 2.52767 0.433997 2.5277 0.434028C1.94958 -0.144275 1.0119 -0.144323 0.433801 0.434099M0.433699 14.5663C0.433723 14.5663 0.433675 14.5663 0.433699 14.5663V14.5663Z" fill="#B6B4BA"/>
                                </svg>
                            </div>
                        </a>
                        <a class="tab" href="#" data-profile-sidebar-btn="true">
                            <i class="icon">
                                <svg width="22" height="27" viewBox="0 0 22 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18.7068 26.4692H3.29347C2.5267 26.4692 1.79133 26.1646 1.24914 25.6225C0.706944 25.0803 0.402344 24.3449 0.402344 23.5781V13.938C0.402344 13.1712 0.706944 12.4359 1.24914 11.8937C1.79133 11.3515 2.5267 11.0469 3.29347 11.0469H18.7068C19.4736 11.0469 20.209 11.3515 20.7511 11.8937C21.2933 12.4359 21.5979 13.1712 21.5979 13.938V23.5781C21.5979 24.3449 21.2933 25.0803 20.7511 25.6225C20.209 26.1646 19.4736 26.4692 18.7068 26.4692ZM3.29347 12.9803C3.03864 12.9803 2.79411 13.0809 2.61307 13.2603C2.43203 13.4396 2.32913 13.6832 2.32675 13.938V23.5781C2.32675 23.8345 2.4286 24.0804 2.6099 24.2617C2.79119 24.443 3.03708 24.5448 3.29347 24.5448H18.7068C18.9632 24.5448 19.2091 24.443 19.3904 24.2617C19.5717 24.0804 19.6735 23.8345 19.6735 23.5781V13.938C19.6735 13.6816 19.5717 13.4357 19.3904 13.2544C19.2091 13.0731 18.9632 12.9713 18.7068 12.9713L3.29347 12.9803Z" fill="#686868"/>
                                    <path d="M10.998 20.7069C10.7416 20.7069 10.4957 20.605 10.3144 20.4237C10.1331 20.2424 10.0312 19.9966 10.0312 19.7402V17.7796C10.0544 17.5405 10.1658 17.3186 10.3437 17.1572C10.5216 16.9957 10.7532 16.9062 10.9935 16.9062C11.2337 16.9062 11.4653 16.9957 11.6432 17.1572C11.8211 17.3186 11.9325 17.5405 11.9557 17.7796V19.7402C11.9557 19.995 11.8551 20.2395 11.6757 20.4206C11.4964 20.6016 11.2528 20.7045 10.998 20.7069Z" fill="#686868"/>
                                    <path d="M16.7806 11.569C16.6537 11.569 16.528 11.544 16.4107 11.4954C16.2934 11.4469 16.1868 11.3757 16.0971 11.2859C16.0073 11.1961 15.9361 11.0895 15.8875 10.9723C15.8389 10.855 15.8139 10.7293 15.8139 10.6023V6.74446C15.8139 5.4673 15.3066 4.24245 14.4035 3.33936C13.5004 2.43627 12.2755 1.92893 10.9984 1.92893C9.72121 1.92893 8.49636 2.43627 7.59327 3.33936C6.69018 4.24245 6.18283 5.4673 6.18283 6.74446V10.6023C6.19585 10.7365 6.18066 10.8719 6.13822 10.9999C6.09579 11.1279 6.02706 11.2456 5.93645 11.3454C5.84583 11.4452 5.73534 11.525 5.61206 11.5796C5.48878 11.6342 5.35545 11.6624 5.22063 11.6624C5.0858 11.6624 4.95247 11.6342 4.8292 11.5796C4.70592 11.525 4.59542 11.4452 4.50481 11.3454C4.41419 11.2456 4.34546 11.1279 4.30303 10.9999C4.2606 10.8719 4.24541 10.7365 4.25842 10.6023V6.74446C4.25842 4.95572 4.969 3.24024 6.23383 1.97541C7.49866 0.710575 9.21414 0 11.0029 0C12.7916 0 14.5071 0.710575 15.7719 1.97541C17.0368 3.24024 17.7473 4.95572 17.7473 6.74446V10.6023C17.7473 10.7293 17.7223 10.855 17.6738 10.9723C17.6252 11.0895 17.554 11.1961 17.4642 11.2859C17.3744 11.3757 17.2679 11.4469 17.1506 11.4954C17.0333 11.544 16.9076 11.569 16.7806 11.569Z" fill="#686868"/>
                                </svg>
                            </i>
                            <span>
                                Change Password
                            </span>
                            <div class="chevron">
                                <svg width="9" height="15" viewBox="0 0 9 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.48034 7.50009C8.48034 7.75099 8.38454 8.00187 8.19334 8.19316L2.17363 14.2128C1.7907 14.5957 1.16985 14.5957 0.78708 14.2128C0.404307 13.83 0.404307 13.2093 0.78708 12.8263L6.11365 7.50009L0.787267 2.17379C0.404494 1.79087 0.404495 1.1702 0.787268 0.787459C1.17004 0.404346 1.79089 0.404346 2.17382 0.78746L8.19353 6.80701C8.38476 6.9984 8.48034 7.24927 8.48034 7.50009Z" fill="#B6B4BA"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.14087 13.1799C0.953291 13.3677 0.953446 13.6719 1.14088 13.8593C1.32833 14.0468 1.63262 14.047 1.82032 13.8593L7.83994 7.83973C7.83991 7.83976 7.83997 7.8397 7.83994 7.83973C7.93367 7.74591 7.98059 7.62374 7.98059 7.50012C7.98059 7.37638 7.93383 7.25437 7.84022 7.1606M7.84022 7.1606L1.82052 1.14105C1.63283 0.953277 1.32866 0.953289 1.14122 1.14089C0.953803 1.3283 0.953483 1.63254 1.14106 1.82027C1.14109 1.8203 1.14104 1.82025 1.14106 1.82027L6.82101 7.50013L1.14087 13.1799C1.14084 13.18 1.1409 13.1799 1.14087 13.1799M0.433699 14.5663C-0.144312 13.9882 -0.144165 13.051 0.433685 12.4729L5.40677 7.50011L0.433961 2.52739C-0.143874 1.94932 -0.144129 1.01217 0.433801 0.434099M0.433699 14.5663C1.0118 15.1446 1.9493 15.1445 2.52743 14.5664C2.52743 14.5664 2.52743 14.5664 2.52743 14.5664L8.54713 8.54675C8.83575 8.258 8.98059 7.87827 8.98059 7.50012C8.98059 7.1223 8.83622 6.74262 8.54747 6.45364L2.5277 0.434028C2.52773 0.434059 2.52767 0.433997 2.5277 0.434028C1.94958 -0.144275 1.0119 -0.144323 0.433801 0.434099M0.433699 14.5663C0.433723 14.5663 0.433675 14.5663 0.433699 14.5663V14.5663Z" fill="#B6B4BA"/>
                                </svg>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="l-flex-col-xl-9 wrapper-profile-card" data-profile-card="true">
                <div class="card-header">
                    <button class="back-btn" data-profile-card-btn="true">
                        <svg width="10" height="17" viewBox="0 0 10 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.261816 8.79401L7.52177 16.0538C7.68968 16.2219 7.91383 16.3145 8.15283 16.3145C8.39184 16.3145 8.61599 16.2219 8.7839 16.0538L9.31855 15.5193C9.66645 15.171 9.66645 14.6049 9.31855 14.2572L3.22219 8.16082L9.32531 2.0577C9.49323 1.88965 9.58594 1.66563 9.58594 1.42676C9.58594 1.18762 9.49323 0.963606 9.32531 0.795426L8.79067 0.261047C8.62262 0.0930003 8.39861 0.000423328 8.1596 0.000423307C7.92059 0.000423286 7.69644 0.0930002 7.52853 0.261047L0.261816 7.5275C0.0935038 7.69607 0.00105931 7.92115 0.00158953 8.16042C0.00105927 8.40062 0.0935037 8.62557 0.261816 8.79401Z" fill="#686868"/>
                        </svg>
                    </button>
                    <div>
                        <h2 class="title">Edit Profile</h2>
                        <p class="subtitle">Manage your details, view your tier status and change your password</p>
                    </div>
                </div>
                <div class="card">
                    <form action="#" data-form-validate="true" data-edit-profile-form="true">
                        <div class="l-flex-row">
                            <div class="l-flex-col-xl-12">
                                <h6 class="title">General info</h6>
                            </div>
                            <div class="l-flex-col-xl-4">
                                <div class="form-input-box form-input-box-spacing-40" data-form-validate-input-box="true">
                                    <label class="form-input-label" for="first_name">First Name</label>
                                    <label class="form-input form-input-block" data-form-input="true">
                                        <input type="text" class="input" id="first_name" name="first_name" data-validate-input="first_name" data-form-validate-input-rules="required" placeholder="" data-form-input-input="true" />
                                    </label>
                                    <ul class="form-input-errors" data-validate-input-errors="first_name">
                                    </ul>
                                </div>
                            </div>
                            <div class="l-flex-col-xl-4">
                                <div class="form-input-box form-input-box-spacing-40" data-form-validate-input-box="true">
                                    <label class="form-input-label" for="last_name">Last Name</label>
                                    <label class="form-input form-input-block" data-form-input="true">
                                        <input type="text" class="input" id="last_name" name="last_name" data-validate-input="last_name" data-form-validate-input-rules="required" placeholder="" data-form-input-input="true" />
                                    </label>
                                    <ul class="form-input-errors" data-validate-input-errors="last_name">
                                    </ul>
                                </div>
                            </div>
                            <div class="l-flex-col-xl-4">
                                <div class="form-input-box form-input-box-spacing-40" data-form-validate-input-box="true">
                                    <label class="form-input-label" for="lang">Preferred Language</label>
                                    <label class="form-input form-input-select form-input-block" data-form-input="true">
                                        <select class="input" id="lang" name="lang" data-validate-input="lang" data-form-validate-input-rules="required" placeholder="" data-form-input-input="true">
                                            <option value="" selected></option>
                                            <option value="English">English</option>
                                            <option value="Arabic">Arabic</option>
                                        </select>
                                    </label>
                                    <ul class="form-input-errors" data-validate-input-errors="lang">
                                    </ul>
                                </div>
                            </div>
                            <div class="l-flex-col-xl-4">
                                <div class="form-input-box form-input-box-spacing-40" data-form-validate-input-box="true">
                                    <label class="form-input-label" for="email">Email</label>
                                    <label class="form-input form-input-block" data-form-input="true">
                                        <input type="email" class="input" id="email" name="email" data-validate-input="email" data-form-validate-input-rules="required|email" placeholder="" data-form-input-input="true" />
                                    </label>
                                    <ul class="form-input-errors" data-validate-input-errors="email">
                                    </ul>
                                </div>
                            </div>
                            <div class="l-flex-col-xl-4">
                                <div class="form-input-box form-input-box-spacing-40" data-form-validate-input-box="true">
                                    <label class="form-input-label" for="mobile">Mobile</label>
                                    <label class="form-input form-input-block" data-form-input="true">
                                        <input type="tel" class="input" id="mobile" name="mobile" data-validate-input="mobile" data-form-validate-input-rules="required|phone" placeholder="" data-form-input-input="true" />
                                    </label>
                                    <ul class="form-input-errors" data-validate-input-errors="mobile">
                                    </ul>
                                </div>
                            </div>
                            <div class="l-flex-col-xl-4"></div>
                            <div class="l-flex-col-xl-4"></div>
                            <div class="l-flex-col-xl-4"></div>
                            <div class="l-flex-col-xl-4">
                                <br>
                                <button class="btn btn-primary btn-md btn-block btn-rounded" type="submit">
                                    UPDATE INFO
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include ../_components/main/body/body-footer.ejs %>
<link rel="stylesheet" href="/pages-assets/profile-edit-profile/profile-edit-profile.lazy.styles.css" fetchpriority="low">
<script src="/pages-assets/profile-edit-profile/profile-edit-profile.js"></script>
<script src="/pages-assets/profile-edit-profile/profile-edit-profile.lazy.js" fetchpriority="low"></script>
<%- include ../_components/main/footer/footer.ejs %>
