<%- include ../_components/main/header/header.ejs %>
<%- include ../_components/main/body/body-header.ejs %>
<link rel="stylesheet" href="/pages-assets/reset-password-success/reset-password-success.styles.css">
<div class="l-featured-section ui-featured-section--spacing-bottom-0 ui-featured-section lazyload" data-bg="/assets/img/featured-section-bg.webp" data-delay="5000">
    <div class="l-featured-section-content">
        <div class="l-container">
            <div class="l-flex-row">
                <div class="l-flex-col-lg-2"></div>
                <div class="l-flex-col-lg-8">
                    <div class="l-featured-section-content-box">
                        <div class="l-page-title-box">
                            <h1 class="l-page-title ui-page-title">&nbsp;</h1>
                        </div>
                    </div>
                </div>
                <div class="l-flex-col-lg-2"></div>
            </div>
        </div>
    </div>
</div>

<div class="u-bg-light">

    <div class="l-container">

        <br>
        <br>
        <br>
        <div class="wrapper-order-status">
            <div class="wrapper-order-status-icon">
                <svg width="94" height="73" viewBox="0 0 94 73" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M32.0402 72.0249L0.934575 35.8021L14.1546 24.452L33.2559 46.6953L81.5843 0.26568L93.6588 12.8295L32.0402 72.0249Z" fill="#79BBC3"/>
                </svg>
            </div>
            <h2 class="wrapper-order-status-title">Password Changed Successfully!</h2>
            <p class="wrapper-order-status-subtitle">Now you have to login again to <a href="#">C-Reality</a> for more security</p>
            <!-- <a href="#" class="btn btn-rounded btn-md btn-block wrapper-order-status-btn">
                Continue Shopping
            </a> -->
            <br><br>
            <div class="l-flex-row">
                <div class="l-flex-col-xl-4"></div>
                <div class="l-flex-col-xl-4">
                    <a href="#" class="btn btn-rounded btn-block btn-primary btn-md">
                        Login to C-Reality
                    </a>
                </div>
                <div class="l-flex-col-xl-4"></div>
            </div>
        </div>

        <br>
        <br>
        <br>

    </div>

</div>


<%- include ../_components/main/body/body-footer.ejs %>
<link rel="stylesheet" href="/pages-assets/reset-password-success/reset-password-success.lazy.styles.css" fetchpriority="low">
<script src="/pages-assets/reset-password-success/reset-password-success.js"></script>
<script src="/pages-assets/reset-password-success/reset-password-success.lazy.js" fetchpriority="low"></script>
<%- include ../_components/main/footer/footer.ejs %>
