<%- include ../_components/main/header/header.ejs %>
<%- include ../_components/main/body/body-header.ejs %>
<link rel="stylesheet" href="/pages-assets/terms-and-conditions/terms-and-conditions.styles.css">

<div class="wrapper-featured-section">
    <div class="l-featured-section ui-featured-section--spacing-bottom-0 ui-featured-section lazyload" data-bg="/assets/img/featured-section-bg.webp" data-delay="5000">
        <div class="l-featured-section-content">
            <div class="l-container">
                <div class="l-flex-row">
                    <div class="l-flex-col-lg-12">
                        <div class="l-featured-section-content-box">
                            <div class="l-page-title-box l-page-title-box--no-description">
                                <h1 class="l-page-title ui-page-title ui-page-title--no-description">Terms and Conditions</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="l-container wrapper-terms ui-editor-content-box">
    <h4>C-Reality Terms and Conditions:</h4>
    <p>Please read these conditions carefully before using C.Reality Services. By using justPiece Services, you signify your agreement to be bound by these conditions.
        These terms and conditions are applicable when you use C.Reality Services to sell your goods "products" through the site, or the relevant part of C.Reality site. To be able to use our services to sell products you have to create a valid seller account. We may modify our services from time to time.
        </p>
        <br>
    <h4>Words used in these Terms of the Site:
    </h4>
    <p>The terms defined or written in bold shall have the meanings given to them in this Site Terms. The word “seller” refers either to you as an individual “if you use the services on behalf of yourself”, or the company to which you act as a representative (if you are registered or use a service as a part of a company or any of your affiliates (individually or collectively as it may requires) You choose to create a vendor account and / or register on the site and the seller agrees to abide by these terms and conditions of the site.
        In these Terms and Conditions, the terms (the Site, We, Ours or any Self pronouns) means the speaker, as applicable, all or all of the Contracting Parties (s) (as provided below) or any of its Affiliates. "Subsidiary" means any other entity or entity that directly or indirectly controls or is subject to or under the joint control of that entity. "Person" means any individual, company, partnership, limited liability company, government agency, association, joint venture, management or entity, whether or not it has a clear legal existence.
        </p>
        <br>
    <h4>Password:
    </h4>
    <p>If you are selected or provided with a user name, password or other information as part of our security procedures, you must treat this information in strict confidence. You are solely responsible for maintaining the integrity of your password. You may not disclose the password to third parties (other than the other parties authorized by you to use your account under these Terms of Use) and assume sole responsibility for any use or action taken under your password. If you have any reason to believe that your password has become known to anyone else, you must change it immediately. We reserve the right to terminate any identification or password, whether selected by you or assigned by us, at any time if we reasonably believe that you have failed to comply with any of these Terms of Use.
    </p>
        <br>
        <br>
    <h4>Specific Policies:
    </h4>
    <p>By creating a Seller Account, at the time of creation of the account or registration you agree to comply with these Terms and Conditions, as well as all policies, protocols, guidelines and other terms contained in the Site (which are an integral part of these Terms). This includes:
    </p>
        <br>
        <br>
    <h4>C-Reality contractual party is:
    </h4>
    <p>C.Reality Electronic Trading, a limited liability company established under the laws of the Arab Republic of Egypt.
        Our website services: In accordance with the terms of this website, we provide online access to the website as well as through mobile devices to enable you to display your products (after approval by the company) to the customers and complete the transactions according to your preferences and agree on together. Including what is described on the website) http://creality.com Except as otherwise provided in these Site Terms, Seller acknowledges that C.Reality does not own or own the products or the inventory of products at any stage by virtue of our provision of services as per these Terms of Use, where the products remain the property of the seller until the delivery process to customers is successfully completed or returned to the seller.
        </p>
</div>


<%- include ../_components/main/body/body-footer.ejs %>
<link rel="stylesheet" href="/pages-assets/terms-and-conditions/terms-and-conditions.lazy.styles.css" fetchpriority="low">
<script src="/pages-assets/terms-and-conditions/terms-and-conditions.js"></script>
<script src="/pages-assets/terms-and-conditions/terms-and-conditions.lazy.js" fetchpriority="low"></script>
<%- include ../_components/main/footer/footer.ejs %>
