.ui-product-tab {
    &-desc {
        padding-top: 62px;
        padding-bottom: 62px;
    }
    &-specs {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    &-reviews {
        padding-top: 50px;
        padding-bottom: 36px;
    }
}