<div class="text-right">
    <button type="reset" class="btn btn-default mr-5">Reset <i class="icon-reload-alt position-right"></i></button>
    <button type="submit" class="btn btn-primary mr-20">Save <i class="icon-arrow-right14 position-right"></i></button>
</div>