.ui-form-textarea {
    resize: none;
    color: #686868;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    padding: 20px 22px;
    border: 1px solid #E9E9E9;
    transition: 0.09s all ease-in-out;
    border-radius: 10px;
    &:hover,
    &:focus {
        outline: 0;
        box-shadow: none;
        border-color: #686868;
    }
}