.ui-form-radio {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: #fff;
    width: 18px;
    height: 18px;
    border: 2px solid #B6B4BA;
    border-radius: 50%;
    transition: 0.09s all ease-in-out;
    cursor: pointer;
    --bullet-color: var(--primary-color);
    &::before {
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: var(--bullet-color);
        transform: scale(0);
        transition: 0.09s all ease-in-out;
    }
    &--color-light {
        border-color: #E9E9E9;
    }
    &:checked {
        border-color: var(--bullet-color);
        &::before {
            color: #fff;
            transform: scale(1);
        }
    }
    &:focus-visible {
        outline: max(2px, 0.15em) solid var(--primary-color);
        outline-offset: max(2px, 0.15em);
    }
    &:not(:checked):hover {
        border-color: var(--bullet-color);
        &::before {
            transform: scale(1);
            opacity: 0.6;
        }
    }
}

.ui-form-radio-label {
    cursor: pointer;
    color: #686868;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    &--color-black {
        color: #3F3F40;
    }
    &--color-black-2 {
        color: #636363;
    }
    &--lg {
        font-size: 16px;
        line-height: 24px;
        @include media-max($md){
            font-size: 14px;
        }
    }
}
