{% import 'adminTemplate/macros.html.twig' as macros %}
{% set trans_form = form.translations[locale] %}
<div class="panel panel-flat">
    <div class="panel-body">
        <div class="row">
            {{ macros.input(trans_form.question,12) }}
        </div>
        <div class="row">
            {{ macros.input(trans_form.answer,12) }}
        </div>
    </div>
    <div class="panel-footer">
        {% include 'adminTemplate/saveAndResetFormFooter.html.twig' %}
    </div>
</div>