{% extends 'adminTemplate/base.html.twig' %}

{% block title %}Minimal Test{% endblock %}

{% block content %}
<h1>Minimal Test Page</h1>
<p>If you can see this, basic template inheritance works.</p>
<p>Current time: {{ "now"|date("Y-m-d H:i:s") }}</p>
{% endblock %}
